In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in all of the car sales datasets
raw_2010 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2010.csv")
raw_2011 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2011.csv")
raw_2012 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2012.csv")
raw_2013 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2013.csv")
raw_2014 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2014.csv")

raw_2015 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2015.csv")
raw_2016 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2016.csv")
raw_2017 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2017.csv")
raw_2018 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2018.csv")
raw_2019 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2019months.csv")
raw_2020 = pd.read_csv("output_data/raw/car sales/2021_03_15_bestcars2020.csv")

# Create clean DataFrames
Collecting data for: Vehicle, Year End Volume, Last Year End Volume, and Percent Change

### 2010

In [3]:
# rename columns to create DataFrame with only the columns we need
raw_2010.columns = ["Rank", "Vehicle", "2010 Year End", "2009 Year End", "% Change 2010"]
clean_2010 = raw_2010[["Vehicle", "2010 Year End", "2009 Year End", "% Change 2010"]]

# drop last rows without individual vehicles by index labels
clean_2010 = clean_2010.drop(np.arange(283, 288, 1))

In [4]:
# clean columns with string replace
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("+", "")
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("–", "")
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("%", "")
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].str.replace("—", "0")

clean_2010["2009 Year End"] = clean_2010["2009 Year End"].str.replace("+", "")
clean_2010["2009 Year End"] = clean_2010["2009 Year End"].str.replace("—–", "0")

In [5]:
# convert columns from object to integer and float
clean_2010["2010 Year End"] = clean_2010["2010 Year End"].astype(int)
clean_2010["2009 Year End"] = clean_2010["2009 Year End"].astype(int)
clean_2010["% Change 2010"] = clean_2010["% Change 2010"].astype(float)

In [6]:
# sort by Vehicle
clean_2010 = clean_2010.sort_values("Vehicle")

# reset index after sorting
clean_2010 = clean_2010.reset_index(drop=True)

In [7]:
clean_2010

        Vehicle  2010 Year End  2009 Year End  % Change 2010
0     Acura MDX          47210          31178           51.4
1     Acura RDX          14975          10153           47.5
2      Acura RL           2037           2043            0.3
3      Acura TL          34049          33620            1.3
4     Acura TSX          32076          28650           12.0
..          ...            ...            ...            ...
278   Volvo V50           1720           2155           20.2
279   Volvo V70            895           1816           50.7
280  Volvo XC60          12030           9262         2990.0
281  Volvo XC70           6626           5825           13.8
282  Volvo XC90          10119          10757            5.9

[283 rows x 4 columns]

In [8]:
#export as csv for use elsewhere
clean_2010.to_csv(f"output_data/raw/clean_cars_2010.csv", index=False, header=True)

### 2011

Operations for 2011-2019 are more or less the same until 2020

In [9]:
# same operations for 2011
raw_2011.columns = ["Rank", "Vehicle", "2011 Year End", "2010 Year End", "% Change 2011"]
clean_2011 = raw_2011[["Vehicle", "2011 Year End", "2010 Year End", "% Change 2011"]]

In [10]:
clean_2011 = clean_2011.drop(np.arange(267, 272, 1))

clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("+", "")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("–", "")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("%", "")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("—–", "0")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace("—", "0")
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].str.replace(",", "")

clean_2011["2010 Year End"] = clean_2011["2010 Year End"].str.replace("—–", "0")

clean_2011["2011 Year End"] = clean_2011["2011 Year End"].astype(int)
clean_2011["2010 Year End"] = clean_2011["2010 Year End"].astype(int)
clean_2011["% Change 2011"] = clean_2011["% Change 2011"].astype(float)

In [11]:
clean_2011 = clean_2011.sort_values("Vehicle")
clean_2011 = clean_2011.reset_index(drop=True)

In [12]:
clean_2011

        Vehicle  2011 Year End  2010 Year End  % Change 2011
0     Acura MDX          43271          47210            8.3
1     Acura RDX          15196          14975            1.5
2      Acura RL           1096           2037           46.2
3      Acura TL          31237          34049            8.3
4     Acura TSX          30935          32076            3.6
..          ...            ...            ...            ...
262   Volvo S80           4735           7224           34.5
263   Volvo V50            555           1720           67.7
264  Volvo XC60          12932          12030            7.5
265  Volvo XC70           5716           6626           13.7
266  Volvo XC90          10609          10119            4.8

[267 rows x 4 columns]

In [13]:
clean_2011.to_csv(f"output_data/raw/clean_cars_2011.csv", index=False, header=True)

### 2012

In [14]:
raw_2012.columns = ["Rank12", "Rank11", "Vehicle", "2012 Year End", "2011 Year End", "% Change 2012"]
clean_2012 = raw_2012[["Vehicle", "2012 Year End", "2011 Year End", "% Change 2012"]]

In [15]:
clean_2012 = clean_2012.drop(np.arange(312, 317, 1))

clean_2012["% Change 2012"] = clean_2012["% Change 2012"].str.replace("+", "")
clean_2012["% Change 2012"] = clean_2012["% Change 2012"].str.replace("–", "")
clean_2012["% Change 2012"] = clean_2012["% Change 2012"].str.replace("%", "")
clean_2012["% Change 2012"] = clean_2012["% Change 2012"].str.replace("—", "0")
clean_2012["% Change 2012"] = clean_2012["% Change 2012"].str.replace("—–", "0")
clean_2012["% Change 2012"] = clean_2012["% Change 2012"].str.replace(",", "")

clean_2012["2012 Year End"] = clean_2012["2012 Year End"].str.replace("—–", "0")
clean_2012["2011 Year End"] = clean_2012["2011 Year End"].str.replace("—–", "0")

clean_2012["2012 Year End"] = clean_2012["2012 Year End"].astype(int)
clean_2012["2011 Year End"] = clean_2012["2011 Year End"].astype(int)
clean_2012["% Change 2012"] = clean_2012["% Change 2012"].astype(float)

In [16]:
clean_2012 = clean_2012.sort_values("Vehicle")
clean_2012 = clean_2012.reset_index(drop=True)

In [17]:
clean_2012

              Vehicle  2012 Year End  2011 Year End  % Change 2012
0           Acura ILX          12251              0            0.0
1           Acura ILX          11279              0            0.0
2    Acura ILX Hybrid            972              0            0.0
3           Acura MDX          50854          43271           17.5
4           Acura RDX          29520          15196           94.3
..                ...            ...            ...            ...
307         Volvo S60          23356          21282            9.7
308         Volvo S80           3277           4735           30.8
309        Volvo XC60          19139          12932           48.0
310        Volvo XC70           5513           5716            3.6
311        Volvo XC90           9513          10609           10.3

[312 rows x 4 columns]

In [18]:
clean_2012.to_csv(f"output_data/raw/clean_cars_2012.csv", index=False, header=True)

### 2013

In [19]:
raw_2013.columns = ["Rank", "Vehicle", "2013 Year End", "2012 Year End", "% Change 2013", "Dec13", "Dec12", "%Ch.1"]
clean_2013 = raw_2013[["Vehicle", "2013 Year End", "2012 Year End", "% Change 2013"]]

In [20]:
clean_2013 = clean_2013.drop(np.arange(312, 352, 1))

clean_2013["% Change 2013"] = clean_2013["% Change 2013"].str.replace("+", "")
clean_2013["% Change 2013"] = clean_2013["% Change 2013"].str.replace("–", "")
clean_2013["% Change 2013"] = clean_2013["% Change 2013"].str.replace("%", "")
clean_2013["% Change 2013"] = clean_2013["% Change 2013"].str.replace("—", "0")

clean_2013["2013 Year End"] = clean_2013["2013 Year End"].str.replace("—", "0")
clean_2013["2012 Year End"] = clean_2013["2012 Year End"].str.replace("—", "0")

clean_2013["2013 Year End"] = clean_2013["2013 Year End"].astype(int)
clean_2013["2012 Year End"] = clean_2013["2012 Year End"].astype(int)
clean_2013["% Change 2013"] = clean_2013["% Change 2013"].astype(float)

In [21]:
clean_2013 = clean_2013.sort_values("Vehicle")
clean_2013 = clean_2013.reset_index(drop=True)

In [22]:
clean_2013

            Vehicle  2013 Year End  2012 Year End  % Change 2013
0         Acura ILX          20430          12251           66.8
1         Acura MDX          53040          50854            4.3
2         Acura RDX          44750          29520           51.6
3    Acura RLX/RL ‡           5053            379         1233.0
4          Acura TL          24318          33572          -27.6
..              ...            ...            ...            ...
307       Volvo S60          23210          23356           -0.6
308       Volvo S80           1935           3277          -41.0
309      Volvo XC60          19766          19139            3.3
310      Volvo XC70           4882           5513          -11.4
311      Volvo XC90           6845           9513          -28.0

[312 rows x 4 columns]

In [23]:
clean_2013.to_csv(f"output_data/raw/clean_cars_2013.csv", index=False, header=True)

### 2014

In [24]:
raw_2014.columns = ["Rank", "Vehicle", "2014 Year End", "2013 Year End", "% Change 2014", "Dec14", "Dec13", "%Ch.1"]
clean_2014 = raw_2014[["Vehicle", "2014 Year End", "2013 Year End", "% Change 2014"]]

In [25]:
clean_2014 = clean_2014.drop(np.arange(325, 367, 1))

clean_2014["% Change 2014"] = clean_2014["% Change 2014"].str.replace("+", "")
clean_2014["% Change 2014"] = clean_2014["% Change 2014"].str.replace("–", "")
clean_2014["% Change 2014"] = clean_2014["% Change 2014"].str.replace("%", "")
clean_2014["% Change 2014"] = clean_2014["% Change 2014"].str.replace("—", "0")
clean_2014["% Change 2014"] = clean_2014["% Change 2014"].str.replace("-", "0")
clean_2014["% Change 2014"] = clean_2014["% Change 2014"].str.replace(",", "")

clean_2014["2014 Year End"] = clean_2014["2014 Year End"].str.replace("—", "0")
clean_2014["2013 Year End"] = clean_2014["2013 Year End"].str.replace("—", "0")

clean_2014["2014 Year End"] = clean_2014["2014 Year End"].astype(int)
clean_2014["2013 Year End"] = clean_2014["2013 Year End"].astype(int)
clean_2014["% Change 2014"] = clean_2014["% Change 2014"].astype(float)

In [26]:
clean_2014 = clean_2014.sort_values("Vehicle")
clean_2014 = clean_2014.reset_index(drop=True)

In [27]:
clean_2014

            Vehicle  2014 Year End  2013 Year End  % Change 2014
0         Acura ILX          17854          20430           12.6
1         Acura MDX          65603          53040           23.7
2         Acura RDX          44865          44750            0.3
3    Acura RLX/RL ³           3413           5053           32.5
4          Acura TL          10616          24318           56.3
..              ...            ...            ...            ...
320       Volvo S80           1753           1935            9.4
321       Volvo V60           4990              0            0.0
322      Volvo XC60          19276          19766            2.5
323      Volvo XC70           5093           4882            4.3
324      Volvo XC90           3952           6845           42.3

[325 rows x 4 columns]

In [28]:
clean_2014.to_csv(f"output_data/raw/clean_cars_2014.csv", index=False, header=True)

### 2015

In [29]:
raw_2015.columns = ["Rank", "Vehicle", "2015 Year End", "2014 Year End", "% Change 2015", "Dec15", "Dec14", "%Ch.1"]
clean_2015 = raw_2015[["Vehicle", "2015 Year End", "2014 Year End", "% Change 2015"]]

In [30]:
clean_2015 = clean_2015.drop(np.arange(319, 364, 1))

clean_2015["% Change 2015"] = clean_2015["% Change 2015"].str.replace("+", "")
clean_2015["% Change 2015"] = clean_2015["% Change 2015"].str.replace("–", "")
clean_2015["% Change 2015"] = clean_2015["% Change 2015"].str.replace("%", "")
clean_2015["% Change 2015"] = clean_2015["% Change 2015"].str.replace("—", "0")
clean_2015["% Change 2015"] = clean_2015["% Change 2015"].str.replace(",", "")

clean_2015["2015 Year End"] = clean_2015["2015 Year End"].str.replace("—", "0")
clean_2015["2014 Year End"] = clean_2015["2014 Year End"].str.replace("—", "0")

clean_2015["2015 Year End"] = clean_2015["2015 Year End"].astype(int)
clean_2015["2014 Year End"] = clean_2015["2014 Year End"].astype(int)
clean_2015["% Change 2015"] = clean_2015["% Change 2015"].astype(float)

In [31]:
clean_2015 = clean_2015.sort_values("Vehicle")
clean_2015 = clean_2015.reset_index(drop=True)

In [32]:
clean_2015

                     Vehicle  2015 Year End  2014 Year End  % Change 2015
0                  Acura ILX          18531          17854            3.8
1                  Acura MDX          58208          65603          -11.3
2                  Acura RDX          51026          44865           13.7
3                  Acura RLX           2195           3413          -35.7
4                   Acura TL             88          10616          -99.2
..                       ...            ...            ...            ...
314                Volvo V60           4362           4990          -12.6
315  Volvo V60 Cross Country           2769              0            0.0
316               Volvo XC60          26134          19276           35.6
317               Volvo XC70           5118           5093            0.5
318               Volvo XC90          12777           3952          223.0

[319 rows x 4 columns]

In [33]:
clean_2015.to_csv(f"output_data/raw/clean_cars_2015.csv", index=False, header=True)

### 2016

In [34]:
raw_2016.columns = ["Rank", "Vehicle", "2016 Year End", "2015 Year End", "% Change 2016", "Dec16", "Dec15", "%Ch.1"]
clean_2016 = raw_2016[["Vehicle", "2016 Year End", "2015 Year End", "% Change 2016"]]

In [35]:
clean_2016 = clean_2016.drop(np.arange(340, 399, 1))

clean_2016["% Change 2016"] = clean_2016["% Change 2016"].str.replace("+", "")
clean_2016["% Change 2016"] = clean_2016["% Change 2016"].str.replace("–", "")
clean_2016["% Change 2016"] = clean_2016["% Change 2016"].str.replace("%", "")
clean_2016["% Change 2016"] = clean_2016["% Change 2016"].str.replace("—", "0")
clean_2016["% Change 2016"] = clean_2016["% Change 2016"].str.replace(",", "")

clean_2016["2016 Year End"] = clean_2016["2016 Year End"].str.replace("—", "0")
clean_2016["2015 Year End"] = clean_2016["2015 Year End"].str.replace("—", "0")

clean_2016["2016 Year End"] = clean_2016["2016 Year End"].astype(int)
clean_2016["2015 Year End"] = clean_2016["2015 Year End"].astype(int)
clean_2016["% Change 2016"] = clean_2016["% Change 2016"].astype(float)

In [36]:
clean_2016 = clean_2016.sort_values("Vehicle")
clean_2016 = clean_2016.reset_index(drop=True)

In [37]:
clean_2016

            Vehicle  2016 Year End  2015 Year End  % Change 2016
0         Acura ILX          14597          18531          -21.2
1         Acura MDX          55495          58208           -4.7
2         Acura NSX            269              0            0.0
3         Acura RDX          52361          51026            2.6
4         Acura RLX           1478           2195          -32.7
..              ...            ...            ...            ...
335     Volvo V60 *           3407           4362          -21.9
336  Volvo V60 CC *           2725           2769           -1.6
337      Volvo XC60          20452          26134          -21.7
338      Volvo XC70           5425           5118            6.0
339      Volvo XC90          32526          12777          155.0

[340 rows x 4 columns]

In [38]:
clean_2016.to_csv(f"output_data/raw/clean_cars_2016.csv", index=False, header=True)

### 2017

In [39]:
raw_2017.columns = ["Vehicle", "US", "US LY", "USvLY", "2017 Year End", "2016 Year End", "% Change 2017"]
clean_2017 = raw_2017[["Vehicle", "2017 Year End", "2016 Year End", "% Change 2017"]]

In [40]:
clean_2017 = clean_2017.drop(np.arange(296, 301, 1))

clean_2017["% Change 2017"] = clean_2017["% Change 2017"].str.replace("+", "")
clean_2017["% Change 2017"] = clean_2017["% Change 2017"].str.replace("–", "")
clean_2017["% Change 2017"] = clean_2017["% Change 2017"].str.replace("%", "")

clean_2017["2017 Year End"] = clean_2017["2017 Year End"].astype(int)
clean_2017["2016 Year End"] = clean_2017["2016 Year End"].astype(int)
clean_2017["% Change 2017"] = clean_2017["% Change 2017"].astype(float)

In [41]:
clean_2017 = clean_2017.sort_values("Vehicle")
clean_2017 = clean_2017.reset_index(drop=True)

In [42]:
clean_2017

        Vehicle  2017 Year End  2016 Year End  % Change 2017
0     Acura ILX          11757          14597          -19.5
1     Acura MDX          54886          55495           -1.1
2     Acura NSX            581            269          116.0
3     Acura RDX          51295          52361           -2.0
4     Acura RLX           1237           1478          -16.3
..          ...            ...            ...            ...
291   Volvo S60          16825          20921          -19.6
292   Volvo S80              7            644          -98.9
293   Volvo S90          11090           2756          302.4
294  Volvo XC60          22516          20452           10.1
295  Volvo XC90          30996          35526          -12.8

[296 rows x 4 columns]

In [43]:
clean_2017.to_csv(f"output_data/raw/clean_cars_2017.csv", index=False, header=True)

### 2018

In [44]:
raw_2018.columns = ["Vehicle", "Month", "Month LY", "Month Change", "2018 Year End", "2017 Year End", "% Change 2018"]
clean_2018 = raw_2018[["Vehicle", "2018 Year End", "2017 Year End", "% Change 2018"]]

In [45]:
clean_2018 = clean_2018.drop(279)

clean_2018["2018 Year End"] = clean_2018["2018 Year End"].astype(int)
clean_2018["2017 Year End"] = clean_2018["2017 Year End"].astype(int)

In [46]:
clean_2018 = clean_2018.sort_values("Vehicle")
clean_2018 = clean_2018.reset_index(drop=True)

In [47]:
clean_2018

             Vehicle  2018 Year End  2017 Year End  % Change 2018
0          Acura ILX          11273          11757          -4.12
1          Acura MDX          51512          54886          -6.15
2          Acura NSX            170            581         -70.74
3          Acura RDX          63580          51295          23.95
4          Acura RLX           1931           1237          56.10
..               ...            ...            ...            ...
274  Volvo 60-Series          12176          16825         -27.63
275  Volvo 90-Series           9892          11090         -10.80
276       Volvo XC40          12420              0           0.00
277       Volvo XC60          32689          22516          45.18
278       Volvo XC90          31609          30996           1.98

[279 rows x 4 columns]

In [48]:
clean_2018.to_csv(f"output_data/raw/clean_cars_2018.csv", index=False, header=True)

### 2019

In [49]:
raw_2019.columns = ["Vehicle", "Month", "Month LY", "Month Change", "2019 Year End", "2018 Year End", "% Change 2019"]
clean_2019 = raw_2019[["Vehicle", "2019 Year End", "2018 Year End", "% Change 2019"]]

In [50]:
clean_2019 = clean_2019.drop([285, 286])

clean_2019["2019 Year End"] = clean_2019["2019 Year End"].astype(int)
clean_2019["2018 Year End"] = clean_2019["2018 Year End"].astype(int)

In [51]:
clean_2019 = clean_2019.sort_values("Vehicle")
clean_2019 = clean_2019.reset_index(drop=True)

In [52]:
clean_2019

             Vehicle  2019 Year End  2018 Year End  % Change 2019
0          Acura ILX          14685          11273          30.27
1          Acura MDX          52019          51512           0.98
2          Acura NSX            238            170          40.00
3          Acura RDX          62876          63580          -1.11
4          Acura RLX           1019           1931         -47.23
..               ...            ...            ...            ...
280  Volvo 60-Series          20190          12176          65.82
281  Volvo 90-Series           4052           9892         -59.04
282       Volvo XC40          17647          12420          42.09
283       Volvo XC60          30578          32689          -6.46
284       Volvo XC90          35760          31609          13.13

[285 rows x 4 columns]

In [53]:
clean_2019.to_csv(f"output_data/raw/clean_cars_2019.csv", index=False, header=True)

### 2020

In [54]:
raw_2019.columns = ["Vehicle", "Month", "Month LY", "Month Change", "2019 Year End", "2018 Year End", "% Change 2019"]
clean_2019 = raw_2019[["Vehicle", "2019 Year End", "2018 Year End", "% Change 2019"]]

In [55]:
# drop last two rows by index labels
cl_2020 = raw_2020.drop([303, 304])

# convert columns from object to integer for calculation
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
for month in months:
    cl_2020[f'{month}'] = cl_2020[f'{month}'].astype(int)

# create a new column that equals the sum or rows in the dataframe
cl_2020["2020 Year End"] = cl_2020.sum(axis=1)
# change name of Model to Vehicle
cl_2020.rename(columns = {'Model':'Vehicle'}, inplace = True)

In [56]:
# remove non-vehicle rows from the 2019 list
cl_2019 = clean_2019.drop([285, 286])

# return a new DataFrame that executes a left outer merges 2020 and 2019
clean_2020 = pd.merge(cl_2020, cl_2019, how="left", on='Vehicle')
# keep only the relevant columns
clean_2020 = clean_2020[["Vehicle", "2020 Year End", "2019 Year End"]]

# replace null values in '2019 Year End' by 0
clean_2020['2019 Year End'] = clean_2020['2019 Year End'].fillna(0)

# convert 2019 Year End to integers
clean_2020["2019 Year End"] = clean_2020["2019 Year End"].astype(int)

# create empy column for % Change 2020
clean_2020["% Change 2020"] = ""

In [57]:
# create calculions for % Change except for null values
for index, row in clean_2020.iterrows():
    if row[2] != 0:
        clean_2020["% Change 2020"][index] = round(((clean_2020["2020 Year End"][index] - clean_2020["2019 Year End"][index]) / clean_2020["2019 Year End"][index]) * 100, 2)
    else:
        clean_2020["% Change 2020"][index] = 0

<ipython-input-57-3e8b0ec9d496>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_2020["% Change 2020"][index] = round(((clean_2020["2020 Year End"][index] - clean_2020["2019 Year End"][index]) / clean_2020["2019 Year End"][index]) * 100, 2)
<ipython-input-57-3e8b0ec9d496>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_2020["% Change 2020"][index] = 0

In [58]:
# convert % Change 2020 to float
clean_2020["% Change 2020"] = clean_2020["% Change 2020"].astype(float)

In [59]:
clean_2020

             Vehicle  2020 Year End  2019 Year End  % Change 2020
0          Acura ILX          13414          14685          -8.66
1          Acura MDX          47816          52019          -8.08
2          Acura NSX            128            238         -46.22
3          Acura RDX          52785          62876         -16.05
4          Acura RLX           1054           1019           3.43
..               ...            ...            ...            ...
298  Volvo 60-Series          15729          20190         -22.10
299  Volvo 90-Series           3195           4052         -21.15
300       Volvo XC40          23778          17647          34.74
301       Volvo XC60          32078          30578           4.91
302       Volvo XC90          34251          35760          -4.22

[303 rows x 4 columns]

In [60]:
clean_2020.to_csv(f"output_data/raw/clean_cars_2020.csv", index=False, header=True)