In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("output_data/Car_Sales_2009-2020.csv")

In [3]:
data

,Vehicle,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acura ILX,NaN,NaN,0.0,12251.0,20430.0,17854.0,18531.0,14597.0,11757.0,11273.0,14685.0,13414.0
1,Acura ILX,NaN,NaN,0.0,11279.0,20430.0,17854.0,18531.0,14597.0,11757.0,11273.0,14685.0,13414.0
2,Acura ILX Hybrid,NaN,NaN,0.0,972.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Acura MDX,31178.0,47210.0,43271.0,50854.0,53040.0,65603.0,58208.0,55495.0,54886.0,51512.0,52019.0,47816.0
4,Acura NSX,NaN,NaN,NaN,NaN,NaN,NaN,0.0,269.0,581.0,170.0,238.0,128.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
630,Volvo V70,1816.0,895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,Volvo XC40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12420.0,17647.0,23778.0
632,Volvo XC60,9262.0,12030.0,12932.0,19139.0,19766.0,19276.0,26134.0,20452.0,22516.0,32689.0,30578.0,32078.0
633,Volvo XC70,5825.0,6626.0,5716.0,5513.0,4882.0,5093.0,5118.0,5425.0,NaN,NaN,NaN,NaN
634,Volvo XC90,10757.0,10119.0,10609.0,9513.0,6845.0,3952.0,12777.0,32526.0,30996.0,31609.0,35760.0,34251.0

In [4]:
# set the index
data = data.set_index("Vehicle")

In [5]:
# remove index heading
data.rename_axis(None, inplace=True)
data

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Acura ILX,NaN,NaN,0.0,12251.0,20430.0,17854.0,18531.0,14597.0,11757.0,11273.0,14685.0,13414.0
Acura ILX,NaN,NaN,0.0,11279.0,20430.0,17854.0,18531.0,14597.0,11757.0,11273.0,14685.0,13414.0
Acura ILX Hybrid,NaN,NaN,0.0,972.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Acura MDX,31178.0,47210.0,43271.0,50854.0,53040.0,65603.0,58208.0,55495.0,54886.0,51512.0,52019.0,47816.0
Acura NSX,NaN,NaN,NaN,NaN,NaN,NaN,0.0,269.0,581.0,170.0,238.0,128.0
...,...,...,...,...,...,...,...,...,...,...,...,...
Volvo V70,1816.0,895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volvo XC40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,12420.0,17647.0,23778.0
Volvo XC60,9262.0,12030.0,12932.0,19139.0,19766.0,19276.0,26134.0,20452.0,22516.0,32689.0,30578.0,32078.0
Volvo XC70,5825.0,6626.0,5716.0,5513.0,4882.0,5093.0,5118.0,5425.0,NaN,NaN,NaN,NaN
Volvo XC90,10757.0,10119.0,10609.0,9513.0,6845.0,3952.0,12777.0,32526.0,30996.0,31609.0,35760.0,34251.0

In [6]:
# return the transpose of the DataFrame
new_data = data.transpose()

In [7]:
# reset index
new_data = new_data.reset_index()

In [8]:
# rename Vehicle column to Years
new_data.rename(columns = {'index':'Years'}, inplace = True)

In [9]:
new_data

,Years,Acura ILX,Acura ILX,Acura ILX Hybrid,Acura MDX,Acura NSX,Acura RDX,Acura RL,Acura RLX,Acura RLX/RLÂ Â³,...,Volvo V50,Volvo V60,Volvo V60 *,Volvo V60 CC *,Volvo V60 Cross Country,Volvo V70,Volvo XC40,Volvo XC60,Volvo XC70,Volvo XC90
0,2009,NaN,NaN,NaN,31178.0,NaN,10153.0,2043.0,NaN,NaN,...,2155.0,NaN,NaN,NaN,NaN,1816.0,NaN,9262.0,5825.0,10757.0
1,2010,NaN,NaN,NaN,47210.0,NaN,14975.0,2037.0,NaN,NaN,...,1720.0,NaN,NaN,NaN,NaN,895.0,NaN,12030.0,6626.0,10119.0
2,2011,0.0,0.0,0.0,43271.0,NaN,15196.0,1096.0,NaN,NaN,...,555.0,NaN,NaN,NaN,NaN,NaN,NaN,12932.0,5716.0,10609.0
3,2012,12251.0,11279.0,972.0,50854.0,NaN,29520.0,379.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19139.0,5513.0,9513.0
4,2013,20430.0,20430.0,NaN,53040.0,NaN,44750.0,NaN,NaN,5053.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,19766.0,4882.0,6845.0
5,2014,17854.0,17854.0,NaN,65603.0,NaN,44865.0,NaN,3413.0,3413.0,...,NaN,4990.0,NaN,NaN,0.0,NaN,NaN,19276.0,5093.0,3952.0
6,2015,18531.0,18531.0,NaN,58208.0,0.0,51026.0,NaN,2195.0,NaN,...,NaN,4362.0,4362.0,2769.0,2769.0,NaN,NaN,26134.0,5118.0,12777.0
7,2016,14597.0,14597.0,NaN,55495.0,269.0,52361.0,NaN,1478.0,NaN,...,NaN,6132.0,3407.0,2725.0,NaN,NaN,NaN,20452.0,5425.0,32526.0
8,2017,11757.0,11757.0,NaN,54886.0,581.0,51295.0,NaN,1237.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,22516.0,NaN,30996.0
9,2018,11273.0,11273.0,NaN,51512.0,170.0,63580.0,NaN,1931.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12420.0,32689.0,NaN,31609.0
10,2019,14685.0,14685.0,NaN,52019.0,238.0,62876.0,NaN,1019.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,17647.0,30578.0,NaN,35760.0
11,2020,13414.0,13414.0,NaN,47816.0,128.0,52785.0,NaN,1054.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,23778.0,32078.0,NaN,34251.0

In [10]:
new_data.to_csv("output_data/test.csv", index=False, header=True)