In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in raw data for cars in movies
raw_2010 = pd.read_csv("output_data/raw/cars in movies/2021_03_06_2010Cars.csv")

In [3]:
raw_2010

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 Chevrolet Corvette C5,vehicle_369776-Chevrolet-Corvette-1998.html,3
1,Toy Story 3,2010,Opel Meriva [A],vehicle_974788-Opel-Meriva.html,2
2,Toy Story 3,2010,2005 Opel Zafira [B],vehicle_974791-Opel-Zafira-2005.html,2
3,Toy Story 3,2010,1979 Toyota Truck,vehicle_349573-Toyota-Truck-RN30-1979.html,2
4,Iron Man 2,2010,2010 Acura ZDX,vehicle_340464-Acura-ZDX-YB1-2010.html,2
...,...,...,...,...,...
2048,Daybreakers,2010,Rhino Buggies Hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3
2049,Daybreakers,2010,2004 smart Fortwo,vehicle_317791-smart-Fortwo-450-2004.html,1
2050,Daybreakers,2010,1993 Toyota 4Runner,vehicle_236774-Toyota-4Runner-N130-1993.html,2
2051,Daybreakers,2010,2006 Toyota Prius II,vehicle_317792-Toyota-Prius-NHW20-2006.html,1
2052,Daybreakers,2010,Unknown,vehicle_236773.html,2

In [4]:
raw_2010.isnull().sum()

Release    0
Year       0
Car        0
url        0
Stars      0
dtype: int64

In [5]:
raw_2010.loc[raw_2010.Car.str.contains('Movie')]

,Release,Year,Car,url,Stars
190,The Last Airbender,2010,Made for Movie,vehicle_364660-Made-for-Movie.html,2
411,TRON: Legacy,2010,Made for Movie Light Cycle,vehicle_241545-Made-for-Movie-Light-Cycle.html,3
412,TRON: Legacy,2010,Made for Movie Light Cycle,vehicle_389015-Made-for-Movie-Light-Cycle.html,2
413,TRON: Legacy,2010,Made for Movie Light Runner,vehicle_345557-Made-for-Movie-Light-Runner.html,3
982,The A-Team,2010,Made for Movie M8 Buford,vehicle_271343-Made-for-Movie-M8-Buford.html,3
1123,The Wolfman,2010,Made for Movie Steam Bus,vehicle_312657-Made-for-Movie-Steam-Bus.html,2
1293,Yogi Bear,2010,Made for Movie,vehicle_395591-Made-for-Movie.html,4

In [6]:
raw_2010.loc[raw_2010.Car.str.contains('Unknown')]

,Release,Year,Car,url,Stars
144,Harry Potter and the Deathly Hallows: Part 1,2010,Unknown,vehicle_455543.html,1
622,The Book of Eli,2010,Unknown,vehicle_332601.html,1
1063,The Bounty Hunter,2010,Unknown,vehicle_293920.html,1
2052,Daybreakers,2010,Unknown,vehicle_236773.html,2

In [7]:
raw_2010.loc[raw_2010.Car.str.contains('unknown')]

,Release,Year,Car,url,Stars
46,The Twilight Saga: Eclipse,2010,unknown,vehicle_359181.html,1
106,Inception,2010,unknown,vehicle_355636.html,1
117,Inception,2010,Yamaha unknown,vehicle_1203997-Yamaha.html,1
163,The Karate Kid,2010,Huanghai unknown,vehicle_331629-Huanghai.html,2
171,The Karate Kid,2010,unknown,vehicle_372472.html,1
296,The Other Guys,2010,2005 UD unknown,vehicle_1183239-UD-2005.html,1
303,The Other Guys,2010,Yale unknown,vehicle_1183242-Yale.html,1
443,Jackass 3D,2010,unknown,vehicle_1306807.html,1
444,Jackass 3D,2010,unknown,vehicle_383686.html,3
623,The Book of Eli,2010,unknown,vehicle_310513.html,1
768,The Town,2010,Toyota unknown,vehicle_1107200-Toyota.html,1
830,RED,2010,unknown,vehicle_1188806.html,1
999,The A-Team,2010,unknown,vehicle_316922.html,2
1395,Wall Street: Money Never Sleeps,2010,unknown Cobra,vehicle_1233860-Cobra.html,1
1442,Kick-Ass,2010,Yale unknown,vehicle_307349-Yale.html,1
1486,Cop Out,2010,unknown,vehicle_315195.html,1
1487,Cop Out,2010,unknown,vehicle_315194.html,1
1572,Edge of Darkness,2010,Kenworth unknown,vehicle_1435165-Kenworth.html,1
1604,Edge of Darkness,2010,unknown,vehicle_1435161.html,1
1667,Legion,2010,unknown,vehicle_478914.html,1
1787,Vampires Suck,2010,unknown,vehicle_357414.html,2
1788,Vampires Suck,2010,unknown,vehicle_357415.html,1
1809,The American,2010,unknown,vehicle_347142.html,1

In [8]:
raw_2010.Car.value_counts()

1999 Ford Crown Victoria             22
2001 Ford Crown Victoria             17
unknown                              15
2003 Ford Crown Victoria             13
2006 Toyota Prius II                  9
                                     ..
1979 Mercedes-Benz 300 TD [W123]      1
2004 Ford Explorer                    1
1995 Nissan Altima                    1
1989 Mazda MPV                        1
1990 Toyota Corolla                   1
Name: Car, Length: 1472, dtype: int64

In [9]:
raw_2010.dtypes

Release    object
Year        int64
Car        object
url        object
Stars      object
dtype: object

In [10]:
raw_2010.Stars.value_counts()

1      1372
2       443
3       185
Nan      32
4        21
Name: Stars, dtype: int64

In [11]:
clean_2010 = raw_2010.loc[raw_2010.Stars != 'Nan']

In [12]:
clean_2010.Stars = clean_2010.Stars.astype(int)

C:\Users\stuhu\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
new = clean_2010.loc[(clean_2010.Stars >= 2) & (~clean_2010.Car.str.contains('Unknown')) & (~clean_2010.Car.str.contains('unknown')) & (~clean_2010.Car.str.contains('Movie'))]

In [14]:
new

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 Chevrolet Corvette C5,vehicle_369776-Chevrolet-Corvette-1998.html,3
1,Toy Story 3,2010,Opel Meriva [A],vehicle_974788-Opel-Meriva.html,2
2,Toy Story 3,2010,2005 Opel Zafira [B],vehicle_974791-Opel-Zafira-2005.html,2
3,Toy Story 3,2010,1979 Toyota Truck,vehicle_349573-Toyota-Truck-RN30-1979.html,2
4,Iron Man 2,2010,2010 Acura ZDX,vehicle_340464-Acura-ZDX-YB1-2010.html,2
...,...,...,...,...,...
2041,Daybreakers,2010,1983 Ford Econoline,vehicle_236770-Ford-Econoline-1983.html,2
2046,Daybreakers,2010,1978 Pontiac Firebird Trans Am,vehicle_223185-Pontiac-Firebird-Trans-Am-1978....,3
2047,Daybreakers,2010,Rhino Buggies Hammer,vehicle_236776-Rhino-Buggies-Hammer.html,2
2048,Daybreakers,2010,Rhino Buggies Hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3
2050,Daybreakers,2010,1993 Toyota 4Runner,vehicle_236774-Toyota-4Runner-N130-1993.html,2