In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in raw data for cars in movies
raw_2010 = pd.read_csv("output_data/raw/cars in movies/2021_03_06_2010Cars.csv")

In [3]:
raw_2010

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 Chevrolet Corvette C5,vehicle_369776-Chevrolet-Corvette-1998.html,3
1,Toy Story 3,2010,Opel Meriva [A],vehicle_974788-Opel-Meriva.html,2
2,Toy Story 3,2010,2005 Opel Zafira [B],vehicle_974791-Opel-Zafira-2005.html,2
3,Toy Story 3,2010,1979 Toyota Truck,vehicle_349573-Toyota-Truck-RN30-1979.html,2
4,Iron Man 2,2010,2010 Acura ZDX,vehicle_340464-Acura-ZDX-YB1-2010.html,2
...,...,...,...,...,...
2048,Daybreakers,2010,Rhino Buggies Hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3
2049,Daybreakers,2010,2004 smart Fortwo,vehicle_317791-smart-Fortwo-450-2004.html,1
2050,Daybreakers,2010,1993 Toyota 4Runner,vehicle_236774-Toyota-4Runner-N130-1993.html,2
2051,Daybreakers,2010,2006 Toyota Prius II,vehicle_317792-Toyota-Prius-NHW20-2006.html,1
2052,Daybreakers,2010,Unknown,vehicle_236773.html,2

In [4]:
# how many null elements are in each column
raw_2010.isnull().sum()

Release    0
Year       0
Car        0
url        0
Stars      0
dtype: int64

In [5]:
# what sort of junk data do we need to remove from the Car column
raw_2010.loc[raw_2010.Car.str.contains('Movie')]

,Release,Year,Car,url,Stars
190,The Last Airbender,2010,Made for Movie,vehicle_364660-Made-for-Movie.html,2
411,TRON: Legacy,2010,Made for Movie Light Cycle,vehicle_241545-Made-for-Movie-Light-Cycle.html,3
412,TRON: Legacy,2010,Made for Movie Light Cycle,vehicle_389015-Made-for-Movie-Light-Cycle.html,2
413,TRON: Legacy,2010,Made for Movie Light Runner,vehicle_345557-Made-for-Movie-Light-Runner.html,3
982,The A-Team,2010,Made for Movie M8 Buford,vehicle_271343-Made-for-Movie-M8-Buford.html,3
1123,The Wolfman,2010,Made for Movie Steam Bus,vehicle_312657-Made-for-Movie-Steam-Bus.html,2
1293,Yogi Bear,2010,Made for Movie,vehicle_395591-Made-for-Movie.html,4

In [6]:
raw_2010.loc[raw_2010.Car.str.contains('Unknown')]

,Release,Year,Car,url,Stars
144,Harry Potter and the Deathly Hallows: Part 1,2010,Unknown,vehicle_455543.html,1
622,The Book of Eli,2010,Unknown,vehicle_332601.html,1
1063,The Bounty Hunter,2010,Unknown,vehicle_293920.html,1
2052,Daybreakers,2010,Unknown,vehicle_236773.html,2

In [7]:
raw_2010.loc[raw_2010.Car.str.contains('unknown')]

,Release,Year,Car,url,Stars
46,The Twilight Saga: Eclipse,2010,unknown,vehicle_359181.html,1
106,Inception,2010,unknown,vehicle_355636.html,1
117,Inception,2010,Yamaha unknown,vehicle_1203997-Yamaha.html,1
163,The Karate Kid,2010,Huanghai unknown,vehicle_331629-Huanghai.html,2
171,The Karate Kid,2010,unknown,vehicle_372472.html,1
296,The Other Guys,2010,2005 UD unknown,vehicle_1183239-UD-2005.html,1
303,The Other Guys,2010,Yale unknown,vehicle_1183242-Yale.html,1
443,Jackass 3D,2010,unknown,vehicle_1306807.html,1
444,Jackass 3D,2010,unknown,vehicle_383686.html,3
623,The Book of Eli,2010,unknown,vehicle_310513.html,1
768,The Town,2010,Toyota unknown,vehicle_1107200-Toyota.html,1
830,RED,2010,unknown,vehicle_1188806.html,1
999,The A-Team,2010,unknown,vehicle_316922.html,2
1395,Wall Street: Money Never Sleeps,2010,unknown Cobra,vehicle_1233860-Cobra.html,1
1442,Kick-Ass,2010,Yale unknown,vehicle_307349-Yale.html,1
1486,Cop Out,2010,unknown,vehicle_315195.html,1
1487,Cop Out,2010,unknown,vehicle_315194.html,1
1572,Edge of Darkness,2010,Kenworth unknown,vehicle_1435165-Kenworth.html,1
1604,Edge of Darkness,2010,unknown,vehicle_1435161.html,1
1667,Legion,2010,unknown,vehicle_478914.html,1
1787,Vampires Suck,2010,unknown,vehicle_357414.html,2
1788,Vampires Suck,2010,unknown,vehicle_357415.html,1
1809,The American,2010,unknown,vehicle_347142.html,1

In [8]:
# how common are some cars at the most frequent versus least
raw_2010.Car.value_counts()

1999 Ford Crown Victoria              22
2001 Ford Crown Victoria              17
unknown                               15
2003 Ford Crown Victoria              13
2006 Toyota Prius II                   9
                                      ..
2007 MINI Cooper Clubman               1
Volvo 760                              1
2008 Volkswagen Jetta A5 [Typ 1K]      1
1991 Cadillac Sedan DeVille            1
1977 Pontiac Catalina                  1
Name: Car, Length: 1472, dtype: int64

In [9]:
# check data types
raw_2010.dtypes

Release    object
Year        int64
Car        object
url        object
Stars      object
dtype: object

In [10]:
# how many cars are there for each ratings category
raw_2010.Stars.value_counts()

1      1372
2       443
3       185
Nan      32
4        21
Name: Stars, dtype: int64

In [11]:
# return a DataFrame without any missing ratings element
clean_2010 = raw_2010.loc[raw_2010.Stars != 'Nan']

In [12]:
# convert Stars ratings column to integers
clean_2010.Stars = clean_2010.Stars.astype(int)

C:\Users\stuhu\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
# return a new DataFrame that filters for relevant rating (proxy for screentime), and removes...
# irrelevant car elements
new = clean_2010.loc[(clean_2010.Stars >= 3) & (~clean_2010.Car.str.contains('Unknown'))\
                     & (~clean_2010.Car.str.contains('unknown')) & (~clean_2010.Car.str.contains('Movie'))]

In [14]:
new

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 Chevrolet Corvette C5,vehicle_369776-Chevrolet-Corvette-1998.html,3
6,Iron Man 2,2010,2008 Audi A8 L D3,vehicle_299564-Audi-A8-L-Typ-4E-2008.html,3
7,Iron Man 2,2010,2010 Audi R8 Spyder,vehicle_239415-Audi-R8-Spyder-Typ-42-2010.html,3
24,Iron Man 2,2010,2009 Rolls-Royce Phantom VII,vehicle_299563-Rolls-Royce-Phantom-VII-2009.html,3
30,Iron Man 2,2010,1978 Wolf WR1 Ford Replica,vehicle_271000-Wolf-WR1-Ford-Replica-1978.html,3
...,...,...,...,...,...
2001,Love & Other Drugs,2010,Porsche 911 Carrera Cabrio [993],vehicle_384505-Porsche-911-Carrera-Cabrio-993....,4
2013,Morning Glory,2010,2003 Dodge Sprinter,vehicle_380888-Dodge-Sprinter-VA-2003.html,3
2038,Daybreakers,2010,2008 Chrysler 300,vehicle_236769-Chrysler-300-LX-2008.html,4
2046,Daybreakers,2010,1978 Pontiac Firebird Trans Am,vehicle_223185-Pontiac-Firebird-Trans-Am-1978....,3
2048,Daybreakers,2010,Rhino Buggies Hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3

In [15]:
# reset the index
new = new.reset_index(drop=True)

In [16]:
# how many unique vehicles are there
len(new.Car.unique())

179

In [17]:
# in order to start working with the Car column, remove whitespaces at both sides of the string elements
for index, row in new.iterrows():
    new.Car[index] = new.Car[index].strip()

<ipython-input-17-7b04d79dfdac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.Car[index] = new.Car[index].strip()

In [18]:
# return a new DataFrame of all duplicate Car rows
dups = new.loc[new.duplicated('Car', keep=False)]

In [19]:
# sort duplicates by Car column and reset index
dups = dups.sort_values("Car")
dups = dups.reset_index(drop=True)
dups

,Release,Year,Car,url,Stars
0,Crazy Heart,2010,1977 Chevrolet Suburban,vehicle_355145-Chevrolet-Suburban-C-10-1977.html,4
1,Crazy Heart,2010,1977 Chevrolet Suburban,vehicle_316184-Chevrolet-Suburban-C-10-1977.html,4
2,The Book of Eli,2010,1977 Chevrolet Suburban,vehicle_282682-Chevrolet-Suburban-C-10-1977.html,3
3,The Crazies,2010,1998 Ford Crown Victoria,vehicle_250685-Ford-Crown-Victoria-P71-1998.html,3
4,Legion,2010,1998 Ford Crown Victoria,vehicle_244041-Ford-Crown-Victoria-P71-1998.html,3
5,Edge of Darkness,2010,1998 Ford Crown Victoria,vehicle_304052-Ford-Crown-Victoria-1998.html,3
6,Date Night,2010,1998 Ford Crown Victoria,vehicle_318245-Ford-Crown-Victoria-1998.html,3
7,Vampires Suck,2010,2000 Ford Crown Victoria,vehicle_357390-Ford-Crown-Victoria-P71-2000.html,3
8,The Other Guys,2010,2000 Ford Crown Victoria,vehicle_346999-Ford-Crown-Victoria-P71-2000.html,3
9,Inception,2010,2001 Ford Crown Victoria,vehicle_310270-Ford-Crown-Victoria-2001.html,3
10,The A-Team,2010,2001 Ford Crown Victoria,vehicle_316918-Ford-Crown-Victoria-P71-2001.html,3
11,The Town,2010,2001 Ford Crown Victoria,vehicle_318931-Ford-Crown-Victoria-P71-2001.html,3
12,Edge of Darkness,2010,2001 Ford Crown Victoria,vehicle_254858-Ford-Crown-Victoria-P71-2001.html,4
13,The Sorcerer's Apprentice,2010,2001 Ford Crown Victoria,vehicle_364805-Ford-Crown-Victoria-2001.html,3
14,Cop Out,2010,2006 Dodge Charger,vehicle_315213-Dodge-Charger-LX-2006.html,3
15,The Town,2010,2006 Dodge Charger,vehicle_337161-Dodge-Charger-LX-2006.html,3
16,Why Did I Get Married Too?,2010,2006 Land-Rover Range Rover Series III,vehicle_522574-Land-Rover-Range-Rover-L322-200...,3
17,The Other Guys,2010,2006 Land-Rover Range Rover Series III,vehicle_347003-Land-Rover-Range-Rover-L322-200...,3
18,The Bounty Hunter,2010,2006 Toyota Prius II,vehicle_293899-Toyota-Prius-NHW20-2006.html,3
19,The Other Guys,2010,2006 Toyota Prius II,vehicle_295635-Toyota-Prius-NHW20-2006.html,4
20,The A-Team,2010,2007 Chevrolet Suburban,vehicle_316910-Chevrolet-Suburban-GMT931-2007....,3
21,Edge of Darkness,2010,2007 Chevrolet Suburban,vehicle_254857-Chevrolet-Suburban-GMT931-2007....,3
22,Legion,2010,2007 Chevrolet Suburban,vehicle_307361-Chevrolet-Suburban-GMT931-2007....,3
23,Salt,2010,2007 Chevrolet Suburban,vehicle_347205-Chevrolet-Suburban-GMT931-2007....,3
24,The Sorcerer's Apprentice,2010,2007 Mercedes-Benz GL [X164],vehicle_364810-Mercedes-Benz-GL-X164-2007.html,3
25,Inception,2010,2007 Mercedes-Benz GL [X164],vehicle_319276-Mercedes-Benz-GL-X164-2007.html,3
26,The Bounty Hunter,2010,2007 Mercedes-Benz S 550 [W221],vehicle_293919-Mercedes-Benz-S-550-W221-2007.html,3
27,Cop Out,2010,2007 Mercedes-Benz S 550 [W221],vehicle_315218-Mercedes-Benz-S-550-W221-2007.html,3
28,Wall Street: Money Never Sleeps,2010,2010 Toyota Prius III,vehicle_368590-Toyota-Prius-ZVW30-2010.html,3
29,Valentine's Day,2010,2010 Toyota Prius III,vehicle_316128-Toyota-Prius-ZVW30-2010.html,3
30,The A-Team,2010,AM General HMMWV M1025,vehicle_271333-AM-General-HMMWV-M1025.html,3
31,Green Zone,2010,AM General HMMWV M1025,vehicle_286919-AM-General-HMMWV-M1025.html,4
32,Green Zone,2010,AM General M-35,vehicle_286920-AM-General-M-35-G742.html,3
33,The Expendables,2010,AM General M-35,vehicle_336158-AM-General-M-35-G742.html,3
34,Wall Street: Money Never Sleeps,2010,Ducati Desmosedici RR,vehicle_368601-Ducati-Desmosedici-RR.html,3
35,The Expendables,2010,Ducati Desmosedici RR,vehicle_331241-Ducati-Desmosedici-RR.html,3

In [20]:
new.loc[new.Car == '2010 Audi R8 Spyder']

,Release,Year,Car,url,Stars
2,Iron Man 2,2010,2010 Audi R8 Spyder,vehicle_239415-Audi-R8-Spyder-Typ-42-2010.html,3

In [21]:
dups.loc[dups.Car == '2000 Ford Crown Victoria']

,Release,Year,Car,url,Stars
7,Vampires Suck,2010,2000 Ford Crown Victoria,vehicle_357390-Ford-Crown-Victoria-P71-2000.html,3
8,The Other Guys,2010,2000 Ford Crown Victoria,vehicle_346999-Ford-Crown-Victoria-P71-2000.html,3

In [22]:
new

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 Chevrolet Corvette C5,vehicle_369776-Chevrolet-Corvette-1998.html,3
1,Iron Man 2,2010,2008 Audi A8 L D3,vehicle_299564-Audi-A8-L-Typ-4E-2008.html,3
2,Iron Man 2,2010,2010 Audi R8 Spyder,vehicle_239415-Audi-R8-Spyder-Typ-42-2010.html,3
3,Iron Man 2,2010,2009 Rolls-Royce Phantom VII,vehicle_299563-Rolls-Royce-Phantom-VII-2009.html,3
4,Iron Man 2,2010,1978 Wolf WR1 Ford Replica,vehicle_271000-Wolf-WR1-Ford-Replica-1978.html,3
...,...,...,...,...,...
196,Love & Other Drugs,2010,Porsche 911 Carrera Cabrio [993],vehicle_384505-Porsche-911-Carrera-Cabrio-993....,4
197,Morning Glory,2010,2003 Dodge Sprinter,vehicle_380888-Dodge-Sprinter-VA-2003.html,3
198,Daybreakers,2010,2008 Chrysler 300,vehicle_236769-Chrysler-300-LX-2008.html,4
199,Daybreakers,2010,1978 Pontiac Firebird Trans Am,vehicle_223185-Pontiac-Firebird-Trans-Am-1978....,3
200,Daybreakers,2010,Rhino Buggies Hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3