In [1]:
import pandas as pd
import numpy as np

In [2]:
# read in raw data for cars in movies
raw_2010 = pd.read_csv("output_data/raw/cars in movies/2021_03_06_2010Cars.csv")
raw_2010

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 Chevrolet Corvette C5,vehicle_369776-Chevrolet-Corvette-1998.html,3
1,Toy Story 3,2010,Opel Meriva [A],vehicle_974788-Opel-Meriva.html,2
2,Toy Story 3,2010,2005 Opel Zafira [B],vehicle_974791-Opel-Zafira-2005.html,2
3,Toy Story 3,2010,1979 Toyota Truck,vehicle_349573-Toyota-Truck-RN30-1979.html,2
4,Iron Man 2,2010,2010 Acura ZDX,vehicle_340464-Acura-ZDX-YB1-2010.html,2
...,...,...,...,...,...
2048,Daybreakers,2010,Rhino Buggies Hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3
2049,Daybreakers,2010,2004 smart Fortwo,vehicle_317791-smart-Fortwo-450-2004.html,1
2050,Daybreakers,2010,1993 Toyota 4Runner,vehicle_236774-Toyota-4Runner-N130-1993.html,2
2051,Daybreakers,2010,2006 Toyota Prius II,vehicle_317792-Toyota-Prius-NHW20-2006.html,1
2052,Daybreakers,2010,Unknown,vehicle_236773.html,2

In [3]:
# how many null elements are in each column
raw_2010.isnull().sum()

Release    0
Year       0
Car        0
url        0
Stars      0
dtype: int64

In [4]:
# how common are some cars at the most frequent versus least
raw_2010.Car.value_counts()

1999 Ford Crown Victoria            22
2001 Ford Crown Victoria            17
unknown                             15
2003 Ford Crown Victoria            13
2006 Toyota Prius II                 9
                                    ..
2004 Nissan Sentra SE-R              1
1995 Omni International V-150-S      1
2008 GMC Yukon Hybrid                1
2007 Chevrolet Kodiak                1
2003 Toyota Corolla                  1
Name: Car, Length: 1472, dtype: int64

In [5]:
# top 20 most movie appearances
raw_2010.Car.value_counts().nlargest(20)

1999 Ford Crown Victoria     22
2001 Ford Crown Victoria     17
unknown                      15
2003 Ford Crown Victoria     13
2006 Toyota Prius II          9
1997 Ford Econoline           9
2006 Chevrolet Impala         9
2005 Chrysler 300             8
2003 Lincoln Town Car         8
2007 Chevrolet Suburban       8
2000 Chevrolet Impala         8
2008 Chevrolet Malibu         7
1998 Ford Crown Victoria      7
2006 Ford Crown Victoria      7
1992 Ford Econoline           6
2007 Cadillac Escalade        6
2006 Dodge Charger            6
1997 Toyota Camry             6
2007 Chevrolet Tahoe          6
1998 Lincoln Town Car         6
Name: Car, dtype: int64

In [6]:
# check data types
raw_2010.dtypes

Release    object
Year        int64
Car        object
url        object
Stars      object
dtype: object

In [7]:
# how many cars are there for each ratings category
raw_2010.Stars.value_counts()

1      1372
2       443
3       185
Nan      32
4        21
Name: Stars, dtype: int64

In [8]:
# return a DataFrame without any missing ratings element
clean_2010 = raw_2010.loc[raw_2010.Stars != 'Nan']

In [9]:
# convert Stars ratings column to integers
clean_2010.Stars = clean_2010.Stars.astype(int)

C:\Users\stuhu\anaconda3\lib\site-packages\pandas\core\generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
# return a new DataFrame that removes irrelevant car elements
new = clean_2010.loc[(~clean_2010.Car.str.contains('Unknown'))\
                     & (~clean_2010.Car.str.contains('unknown')) & (~clean_2010.Car.str.contains('Movie'))]

In [11]:
# reset the index and display
new = new.reset_index(drop=True)
new

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 Chevrolet Corvette C5,vehicle_369776-Chevrolet-Corvette-1998.html,3
1,Toy Story 3,2010,Opel Meriva [A],vehicle_974788-Opel-Meriva.html,2
2,Toy Story 3,2010,2005 Opel Zafira [B],vehicle_974791-Opel-Zafira-2005.html,2
3,Toy Story 3,2010,1979 Toyota Truck,vehicle_349573-Toyota-Truck-RN30-1979.html,2
4,Iron Man 2,2010,2010 Acura ZDX,vehicle_340464-Acura-ZDX-YB1-2010.html,2
...,...,...,...,...,...
1982,Daybreakers,2010,Rhino Buggies Hammer,vehicle_236776-Rhino-Buggies-Hammer.html,2
1983,Daybreakers,2010,Rhino Buggies Hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3
1984,Daybreakers,2010,2004 smart Fortwo,vehicle_317791-smart-Fortwo-450-2004.html,1
1985,Daybreakers,2010,1993 Toyota 4Runner,vehicle_236774-Toyota-4Runner-N130-1993.html,2
1986,Daybreakers,2010,2006 Toyota Prius II,vehicle_317792-Toyota-Prius-NHW20-2006.html,1

In [12]:
# how many unique vehicles are there
len(new.Car.unique())

1444

In [13]:
# in order to start working with the Car column, remove whitespaces at both sides of the string elements
for index, row in new.iterrows():
    new.Car[index] = new.Car[index].strip()

<ipython-input-13-7b04d79dfdac>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.Car[index] = new.Car[index].strip()

In [14]:
# return a new DataFrame of all duplicate Car rows
dups = new.loc[new.duplicated('Car', keep=False)]

In [15]:
# sort duplicates by Car column and reset index
# a significant portion of the dataset contain cars that appear in multiple films
dups = dups.sort_values("Car")
dups = dups.reset_index(drop=True)
dups

,Release,Year,Car,url,Stars
0,Crazy Heart,2010,1964 Chevrolet C-Series,vehicle_356411-Chevrolet-C-Series-1964.html,1
1,Burlesque,2010,1964 Chevrolet C-Series,vehicle_562475-Chevrolet-C-Series-1964.html,1
2,Secretariat,2010,1965 Ford Mustang,vehicle_371640-Ford-Mustang-1965.html,1
3,Secretariat,2010,1965 Ford Mustang,vehicle_371645-Ford-Mustang-1965.html,1
4,Daybreakers,2010,1966 Ford Mustang,vehicle_306723-Ford-Mustang-1966.html,1
...,...,...,...,...,...
821,The Social Network,2010,Volvo S40,vehicle_346265-Volvo-S40.html,1
822,The American,2010,Volvo V70,vehicle_335773-Volvo-V70.html,2
823,Morning Glory,2010,Volvo V70,vehicle_1278240-Volvo-V70.html,1
824,A Nightmare on Elm Street,2010,Volvo V70,vehicle_512215-Volvo-V70.html,2
825,Hereafter,2010,Volvo V70,vehicle_341371-Volvo-V70.html,1

In [16]:
# sample car and its appearances
dups.loc[dups.Car == '2000 Ford Crown Victoria']

,Release,Year,Car,url,Stars
297,Morning Glory,2010,2000 Ford Crown Victoria,vehicle_380889-Ford-Crown-Victoria-P71-2000.html,2
298,Vampires Suck,2010,2000 Ford Crown Victoria,vehicle_357390-Ford-Crown-Victoria-P71-2000.html,3
299,The Bounty Hunter,2010,2000 Ford Crown Victoria,vehicle_293923-Ford-Crown-Victoria-P71-2000.html,2
300,The Other Guys,2010,2000 Ford Crown Victoria,vehicle_346999-Ford-Crown-Victoria-P71-2000.html,3
301,TRON: Legacy,2010,2000 Ford Crown Victoria,vehicle_389013-Ford-Crown-Victoria-P71-2000.html,2

In [17]:
# read in car sales data to use as a filter for the Car column
sales = pd.read_csv('output_data/Car_Sales_2009-2020_edited.csv')
sales

,Vehicle,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Acura ILX,NaN,NaN,NaN,12251.0,20430.0,17854.0,18531.0,14597.0,11757.0,11273.0,14685.0,13414.0
1,Acura MDX,31178.0,47210.0,43271.0,50854.0,53040.0,65603.0,58208.0,55495.0,54886.0,51512.0,52019.0,47816.0
2,Acura NSX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,269.0,581.0,170.0,238.0,128.0
3,Acura RDX,10153.0,14975.0,15196.0,29520.0,44750.0,44865.0,51026.0,52361.0,51295.0,63580.0,62876.0,52785.0
4,Acura RL,2043.0,2037.0,1096.0,379.0,39.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,Volvo V70,1816.0,895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
453,Volvo XC40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12420.0,17647.0,23778.0
454,Volvo XC60,9262.0,12030.0,12932.0,19139.0,19766.0,19276.0,26134.0,20452.0,22516.0,32689.0,30578.0,32078.0
455,Volvo XC70,5825.0,6626.0,5716.0,5513.0,4882.0,5093.0,5118.0,5425.0,NaN,NaN,NaN,NaN
456,Volvo XC90,10757.0,10119.0,10609.0,9513.0,6845.0,3952.0,12777.0,32526.0,30996.0,31609.0,35760.0,34251.0

In [18]:
# list comprehension to apply lower method to string elements in the Car column...
# ...to better filter the data for vehicles in the car sales dataset
lower_cars = sales.copy()
lower_cars.Vehicle = [car.lower() for car in lower_cars.Vehicle]

In [19]:
# same operations for the car in movie dataset
lower_car_mov = new.copy()
lower_car_mov.Car = [car.lower() for car in lower_car_mov.Car]

In [20]:
# create list of cars with sales data
vehicles = lower_cars.Vehicle.unique().tolist()

In [21]:
# use list comprehension and for loop to create a list of brands from the sales dataset
brand_raw = [vehicle.split()[0] for vehicle in vehicles]
brands = []
for brand in brand_raw:
    if brand not in brands:
        brands.append(brand)

In [22]:
print(brands)

['acura', 'alfa', 'audi', 'bmw', 'bentley', 'buick', 'cadillac', 'chevrolet', 'chrysler', 'dodge', 'fiat', 'ford', 'gmc', 'genesis', 'honda', 'hummer', 'hyundai', 'infiniti', 'jaguar', 'jeep', 'kia', 'land', 'lexus', 'lincoln', 'maserati', 'mazda', 'mercedes-benz', 'mercury', 'mini', 'mitsubishi', 'nissan', 'pontiac', 'porsche', 'ram', 'saab', 'saturn', 'scion', 'smart', 'subaru', 'suzuki', 'tesla', 'toyota', 'volkswagen', 'volvo']

In [23]:
# create empty list to store vehicle strings to remove
remove_veh = []

# loop through list of vehicles to create separate strings for vehicles with two titles
for vehicle in vehicles:
    if '/' in vehicle:
        # find combined terms to distinguish, separate on / delimiter
        veh_split = vehicle.split('/')
        # only first index string has brand attached, join brand to second index string
        veh_second = " ".join([veh_split[0].split(' ')[0], veh_split[1]])
        # attach both vehicle strings to the vehicles list...
        vehicles.append(veh_split[0])
        vehicles.append(veh_second)
        # ...and append original string to a list for deletion later
        remove_veh.append(vehicle)

# loop through remove_vehicle list to delete strings with / delimiter
for vehicle in remove_veh:
    vehicles.remove(vehicle)

In [24]:
print(vehicles)

['acura ilx', 'acura mdx', 'acura nsx', 'acura rdx', 'acura rl', 'acura rlx', 'acura tl', 'acura tlx', 'acura tsx', 'acura zdx', 'alfa romeo 4c', 'alfa romeo giulia', 'alfa romeo stelvio', 'audi a3', 'audi a3 e-tron', 'audi a4', 'audi a4 allroad', 'audi a4 avant', 'audi a4 sedan', 'audi a5', 'audi a6', 'audi a7', 'audi a8', 'audi q3', 'audi q5', 'audi q7', 'audi q8', 'audi r8', 'audi tt', 'audi etron', 'bmw 1-series', 'bmw 2-series', 'bmw 3-series', 'bmw 4-series', 'bmw 5-series', 'bmw 6-series', 'bmw 7-series', 'bmw 8-series', 'bmw x1', 'bmw x2', 'bmw x3', 'bmw x4', 'bmw x5', 'bmw x6', 'bmw x7', 'bmw z4', 'bmw i3', 'bmw i8', 'bentley bentayga', 'bentley continental gt', 'bentley flying spur', 'bentley mulsanne', 'buick cascada', 'buick enclave', 'buick encore', 'buick encore gx', 'buick envision', 'buick lacrosse', 'buick lucerne', 'buick regal', 'buick verano', 'cadillac ats', 'cadillac ct4', 'cadillac ct5', 'cadillac ct6', 'cadillac cts', 'cadillac dts', 'cadillac elr', 'cadillac escalade', 'cadillac srx', 'cadillac sts', 'cadillac xlr', 'cadillac xt4', 'cadillac xt5', 'cadillac xt6', 'cadillac xts', 'chevrolet avalanche', 'chevrolet aveo', 'chevrolet blazer', 'chevrolet bolt', 'chevrolet camaro', 'chevrolet caprice ppv', 'chevrolet captiva sport', 'chevrolet city express', 'chevrolet cobalt', 'chevrolet colorado', 'chevrolet corvette', 'chevrolet cruze', 'chevrolet equinox', 'chevrolet express', 'chevrolet hhr', 'chevrolet impala', 'chevrolet malibu', 'chevrolet ss', 'chevrolet silverado', 'chevrolet sonic', 'chevrolet spark', 'chevrolet suburban', 'chevrolet tahoe', 'chevrolet trailblazer', 'chevrolet traverse', 'chevrolet trax', 'chevrolet uplander', 'chevrolet volt', 'chrysler 200', 'chrysler 300', 'chrysler aspen', 'chrysler pt cruiser', 'chrysler pacifica', 'chrysler sebring', 'chrysler town & country', 'chrysler town and country', 'dodge avenger', 'dodge caliber', 'dodge challenger', 'dodge charger', 'dodge dakota', 'dodge dart', 'dodge durango', 'dodge grand caravan', 'dodge journey', 'dodge nitro', 'dodge ram', 'dodge viper', 'fiat 124 spider', 'fiat 500', 'fiat 500l', 'fiat 500x', 'ford bronco sport', 'ford c-max', 'ford crown victoria', 'ford e-series', 'ford ecosport', 'ford edge', 'ford escape', 'ford expedition', 'ford explorer', 'ford explorer police interceptor ', 'ford f-series', 'ford fiesta', 'ford flex', 'ford focus', 'ford fusion', 'ford gt', 'ford mustang', 'ford ranger', 'ford taurus', 'ford taurus police interceptor', 'ford taurus x', 'ford transit', 'ford transit connect', 'gmc acadia', 'gmc canyon', 'gmc envoy', 'gmc savana', 'gmc sierra', 'gmc terrain', 'gmc torrent', 'gmc yukon', 'gmc yukon xl', 'genesis g70', 'genesis g80', 'genesis g90', 'genesis gv80', 'honda accord', 'honda cr-v', 'honda cr-z', 'honda civic', 'honda clarity fcv', 'honda crosstour', 'honda element', 'honda fcx', 'honda fit', 'honda hr-v', 'honda insight', 'honda odyssey', 'honda passport', 'honda pilot', 'honda ridgeline', 'honda s2000', 'hummer h2', 'hummer h3', 'hyundai accent', 'hyundai azera', 'hyundai elantra', 'hyundai equus', 'hyundai genesis', 'hyundai ioniq', 'hyundai kona', 'hyundai nexo', 'hyundai palisade', 'hyundai santa fe', 'hyundai sonata', 'hyundai tucson', 'hyundai veloster', 'hyundai venue', 'hyundai veracruz', 'infiniti g', 'infiniti q40', 'infiniti q50', 'infiniti q60', 'infiniti qx30', 'jaguar e-pace', 'jaguar f-pace', 'jaguar f-type', 'jaguar i-pace', 'jaguar xe', 'jaguar xf', 'jaguar xj', 'jaguar xk', 'jeep cherokee', 'jeep commander', 'jeep compass', 'jeep gladiator', 'jeep grand cherokee', 'jeep liberty', 'jeep patriot', 'jeep renegade', 'jeep wrangler', 'kia amanti', 'kia borrego', 'kia cadenza', 'kia forte', 'kia k5', 'kia k900', 'kia niro', 'kia optima', 'kia rio', 'kia rondo', 'kia sedona', 'kia seltos', 'kia sorento', 'kia soul', 'kia spectra', 'kia sportage', 'kia stinger', 'kia telluride', 'land rover defender', 'land rover discovery sport', 'land rover lr2', 'land rover range rover', 'land rover range rover evoque', 'land rover range rover sport', 'land rover range rover velar', 'lexus ct', 'lexus ct200h', 'lexus gs', 'lexus is', 'lexus lc', 'lexus lfa', 'lexus ls', 'lexus nx', 'lexus rc', 'lexus rx', 'lexus sc430', 'lexus ux', 'lincoln aviator', 'lincoln continental', 'lincoln mkc', 'lincoln mks', 'lincoln mkt', 'lincoln mkz', 'lincoln navigator', 'lincoln town car', 'maserati ghibli', 'maserati granturismo', 'maserati levante', 'maserati quattroporte', 'mazda 2', 'mazda 3', 'mazda 5', 'mazda 6', 'mazda b-series', 'mazda cx-3', 'mazda cx-30', 'mazda cx-5', 'mazda cx-7', 'mazda cx-9', 'mazda mx-5 miata', 'mazda rx-8', 'mazda tribute', 'mercedes-benz a-class', 'mercedes-benz amg gt', 'mercedes-benz b-class', 'mercedes-benz c-class', 'mercedes-benz cl-class', 'mercedes-benz cla-class', 'mercedes-benz clk-class', 'mercedes-benz cls-class', 'mercedes-benz e-class', 'mercedes-benz g-class', 'mercedes-benz gla-class', 'mercedes-benz glb', 'mercedes-benz glc-class', 'mercedes-benz glk-class', 'mercedes-benz r-class', 'mercedes-benz s-class', 'mercedes-benz sl-class', 'mercedes-benz sls amg', 'mercedes-benz sprinter', 'mercury grand marquis', 'mercury mariner', 'mercury milan', 'mercury mountaineer', 'mercury sable', 'mini cooper', 'mini cooper clubman', 'mini cooper convertible', 'mini cooper coupe', 'mini cooper hardtop 2-door', 'mini cooper hardtop 4-door', 'mini cooper roadster', 'mini countryman', 'mini paceman', 'mitsubishi eclipse cross', 'mitsubishi endeavor', 'mitsubishi galant', 'mitsubishi lancer', 'mitsubishi mirage', 'mitsubishi outlander', 'mitsubishi outlander phev', 'mitsubishi outlander sport', 'mitsubishi raider', 'mitsubishi i-miev', 'nissan altima', 'nissan armada', 'nissan cube', 'nissan frontier', 'nissan gt-r', 'nissan juke', 'nissan kicks', 'nissan leaf', 'nissan maxima', 'nissan murano', 'nissan nv', 'nissan nv200', 'nissan pathfinder', 'nissan quest', 'nissan rogue', 'nissan sentra', 'nissan titan', 'nissan versa', 'nissan xterra', 'pontiac g3', 'pontiac g5', 'pontiac g6', 'pontiac g8', 'pontiac grand prix', 'pontiac solstice', 'pontiac vibe', 'porsche 718', 'porsche 911', 'porsche 918 spyder', 'porsche boxster', 'porsche cayenne', 'porsche cayman', 'porsche macan', 'porsche panamera', 'porsche taycan', 'ram cargo van', 'ram pickup', 'ram promaster', 'ram promaster city', 'saab 9-3', 'saab 9-4x', 'saab 9-5', 'saab 9-7x', 'saturn astra', 'saturn aura', 'saturn outlook', 'saturn sky', 'saturn vue', 'scion iq', 'scion tc', 'scion xb', 'scion xd', 'smart fortwo', 'subaru ascent', 'subaru brz', 'subaru forester', 'subaru legacy', 'subaru outback', 'subaru tribeca', 'suzuki equator', 'suzuki grand vitara', 'suzuki kizashi', 'suzuki xl7', 'tesla model 3', 'tesla model s', 'tesla model x', 'tesla model y', 'toyota 4runner', 'toyota avalon', 'toyota c-hr', 'toyota camry', 'toyota fj cruiser', 'toyota highlander', 'toyota land cruiser', 'toyota mirai', 'toyota prius', 'toyota rav4', 'toyota sequoia', 'toyota sienna', 'toyota supra', 'toyota tacoma', 'toyota tundra', 'toyota venza', 'toyota yaris hatchback', 'volkswagen arteon', 'volkswagen atlas', 'volkswagen atlas sport', 'volkswagen beetle', 'volkswagen cc', 'volkswagen eos', 'volkswagen jetta', 'volkswagen passat', 'volkswagen routan', 'volkswagen tiguan', 'volkswagen touareg', 'volvo c30', 'volvo c70', 'volvo s40', 'volvo s80', 'volvo v50', 'volvo v70', 'volvo xc40', 'volvo xc60', 'volvo xc70', 'volvo xc90', 'infiniti q70', 'infiniti m', 'infiniti ex', 'infiniti qx50', 'infiniti qx60', 'infiniti jx', 'infiniti qx70', 'infiniti fx', 'infiniti qx80', 'infiniti qx56', 'land rover discovery ', 'land  lr4', 'lexus es', 'lexus es350', 'lexus gx', 'lexus gx460', 'lexus hs', 'lexus hs250h', 'lexus lx', 'lexus lx570', 'lincoln mkx', 'lincoln nautilus', 'mercedes-benz gl-class', 'mercedes-benz gls-class', 'mercedes-benz gle-class', 'mercedes-benz m-class', 'mercedes-benz metris', 'mercedes-benz vito', 'mercedes-benz slk-class', 'mercedes-benz slc-class', 'mitsubishi eclipse', 'mitsubishi spyder', 'nissan 370z', 'nissan 350z', 'subaru impreza', 'subaru wrx', 'subaru xv crosstrek', 'subaru crosstrek', 'suzuki forenza', 'suzuki reno', 'suzuki sx4', 'suzuki aerio', 'toyota 86', 'toyota scion fr-s', 'toyota corolla', 'toyota matrix', 'toyota corolla im', 'toyota auris', 'toyota yaris ia', 'toyota scion ia', 'volkswagen golf', 'volkswagen gti', 'volvo s60', 'volvo v60', 'volvo s90', 'volvo v90']

In [25]:
# use list comprehension and for loop to create a list of models from the sales dataset
#model_raw = [vehicle.split()[-1] for vehicle in vehicles]
#models = []
#for model in model_raw:
    #if model not in models:
        #models.append(model)

In [26]:
# handle models that share a row of data by splitting and appending to models list, then removing
#remove_models = []

#for model in models:
    #if '/' in model:
        #print (f'Splitting and Extending {model}')
        #models.extend(model.split('/'))
        #remove_models.append(model)
        
#for model in remove_models:
    #print (f'Removing {model}')
    #models.remove(model)

In [27]:
# join the list of brands with a | delimiter, creating a RegEx pattern to pass through str.contains() next
#brand_var = "|".join(brands)
#print(brand_var)
# same process for models
#model_var = "|".join(models)
#print(model_var)

In [28]:
# join the list of vehicles using a | delimiter, creating a RegEx pattern to pass through str.contains() next cell
vehicle_var = "|".join(vehicles)

In [29]:
# create DataFrame where only the cars from our car sales data are included
cars_filtered = lower_car_mov.loc[lower_car_mov.Car.str.contains(vehicle_var)]
cars_filtered

,Release,Year,Car,url,Stars
0,Toy Story 3,2010,1998 chevrolet corvette c5,vehicle_369776-Chevrolet-Corvette-1998.html,3
4,Iron Man 2,2010,2010 acura zdx,vehicle_340464-Acura-ZDX-YB1-2010.html,2
6,Iron Man 2,2010,2008 audi a8 l d3,vehicle_299564-Audi-A8-L-Typ-4E-2008.html,3
7,Iron Man 2,2010,2010 audi r8 spyder,vehicle_239415-Audi-R8-Spyder-Typ-42-2010.html,3
9,Iron Man 2,2010,2007 chevrolet tahoe,vehicle_340000-Chevrolet-Tahoe-GMT921-2007.html,2
...,...,...,...,...,...
1974,Daybreakers,2010,1986 dodge ram van,vehicle_236772-Dodge-Ram-Van-1986.html,2
1977,Daybreakers,2010,1966 ford mustang,vehicle_306723-Ford-Mustang-1966.html,1
1984,Daybreakers,2010,2004 smart fortwo,vehicle_317791-smart-Fortwo-450-2004.html,1
1985,Daybreakers,2010,1993 toyota 4runner,vehicle_236774-Toyota-4Runner-N130-1993.html,2
1986,Daybreakers,2010,2006 toyota prius ii,vehicle_317792-Toyota-Prius-NHW20-2006.html,1

In [30]:
# compare to DataFrame with the remaining vehicles, to search for data leaking
cars_remainder = lower_car_mov.loc[~lower_car_mov.Car.str.contains(vehicle_var)]
cars_remainder

,Release,Year,Car,url,Stars
1,Toy Story 3,2010,opel meriva [a],vehicle_974788-Opel-Meriva.html,2
2,Toy Story 3,2010,2005 opel zafira [b],vehicle_974791-Opel-Zafira-2005.html,2
3,Toy Story 3,2010,1979 toyota truck,vehicle_349573-Toyota-Truck-RN30-1979.html,2
5,Iron Man 2,2010,2007 aston martin v8 vantage roadster,vehicle_339997-Aston-Martin-V8-Vantage-Roadste...,1
8,Iron Man 2,2010,bmw 3 [e90],vehicle_339991-BMW-3-E90.html,1
...,...,...,...,...,...
1979,Daybreakers,2010,1970 mercury cougar,vehicle_317790-Mercury-Cougar-1970.html,1
1980,Daybreakers,2010,1997 mitsubishi diamante,vehicle_318489-Mitsubishi-Diamante-F38A-1997.html,1
1981,Daybreakers,2010,1978 pontiac firebird trans am,vehicle_223185-Pontiac-Firebird-Trans-Am-1978....,3
1982,Daybreakers,2010,rhino buggies hammer,vehicle_236776-Rhino-Buggies-Hammer.html,2
1983,Daybreakers,2010,rhino buggies hammer,vehicle_317794-Rhino-Buggies-Hammer.html,3

In [31]:
# export both datasets for quick comparisons in excel, given their manageable size
cars_filtered.to_csv("cars_filtered.csv", index=False, header=True)
cars_remainder.to_csv("cars_remainder.csv", index=False, header=True)

In [ ]:
# read in film data
movies = pd.read_csv('output_data/Top100_Movies_2010-2021.csv')

In [ ]:
# create a DataFrame of only films from the top 2010 grossing films
df10 = movies.loc[movies.Year == 2010]
df10

In [ ]:
# create a DataFrame that merges the car and movie data
car_mov = pd.merge(cars_filtered, df10, how="left", on="Release")
car_mov

In [ ]:
# display data for cars made in 2010 with a strong screen presence
car_mov.loc[(car_mov.Car.str.contains('2010')) & (car_mov.Stars >= 3)]

In [ ]:
# create a clean DataFrame that only keeps relevant columns
clean_car_mov = car_mov[['Release', 'Car', 'Stars', 'Rank', 'Gross', 'Year_y']]

In [ ]:
# create a list of years, as strings, to search for cars made in the decade prior to our analysis range
yrs = np.arange(2000, 2011, 1).tolist()
years = [str(x) for x in yrs]
print(years)

In [ ]:
# display cars made in the years 2000 through 2010
all_years = "|".join(years)
clean_car_mov.loc[clean_car_mov.Car.str.contains(all_years)][["Car","Release","Rank","Gross"]].sort_values(by='Car')

In [ ]:
# look at the cars made in 2000
clean_car_mov.loc[clean_car_mov.Car.str.contains('2000') & (clean_car_mov.Stars >= 3)]