In [1]:
import pandas as pd

In [2]:
# read in each year of data
df_10 = pd.read_csv('output_data/raw/final/car_mov_sales_2010.csv')
df_11 = pd.read_csv('output_data/raw/final/car_mov_sales_2011.csv')
df_12 = pd.read_csv('output_data/raw/final/car_mov_sales_2012.csv')
df_13 = pd.read_csv('output_data/raw/final/car_mov_sales_2013.csv')
df_14 = pd.read_csv('output_data/raw/final/car_mov_sales_2014.csv')

df_15 = pd.read_csv('output_data/raw/final/car_mov_sales_2015.csv')
df_16 = pd.read_csv('output_data/raw/final/car_mov_sales_2016.csv')
df_17 = pd.read_csv('output_data/raw/final/car_mov_sales_2017.csv')
df_18 = pd.read_csv('output_data/raw/final/car_mov_sales_2018.csv')
df_19 = pd.read_csv('output_data/raw/final/car_mov_sales_2019.csv')
df_20 = pd.read_csv('output_data/raw/final/car_mov_sales_2020.csv')

In [3]:
# append 2011 dataframe to 2010
df_master = df_10.append(df_11)

In [4]:
# iterate through list of dataframes, appending them one at a time
df_list = [df_12, df_13, df_14, df_15, df_16, df_17, df_18, df_19, df_20]

for df in df_list:
    df_master = df_master.append(df)

In [5]:
# reorder columns and lose 'Movie Presence'
df_master = df_master[['Year', 'Vehicle Original', 'Vehicle', 'Sales', '% Change', 'Change',
                       'Car', 'Stars', 'Highest Star', 'Strong Appearance', 'Weak Appearance', 'Total Appearance',
                       'Release', 'Rank', 'Best Rank', 'Gross', 'Distributor']]

In [6]:
df_master

,Year,Vehicle Original,Vehicle,Sales,% Change,Change,Car,Stars,Highest Star,Strong Appearance,Weak Appearance,Total Appearance,Release,Rank,Best Rank,Gross,Distributor
0,2010,acura mdx,acura mdx,47210,0.514209,Positive,2007 acura mdx,1.0,1.0,0.0,2.0,2.0,The Other Guys,18.0,18.0,"$119,219,978",Sony Pictures Entertainment (SPE)
1,2010,acura rdx,NaN,14975,0.474934,Positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2010,acura rl,NaN,2037,-0.002937,Negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2010,acura tl,acura tl,34049,0.012760,Positive,1999 acura tl,1.0,1.0,0.0,3.0,3.0,The Other Guys,18.0,18.0,"$119,219,978",Sony Pictures Entertainment (SPE)
4,2010,acura tsx,acura tsx,32076,0.119581,Positive,2009 acura tsx,1.0,1.0,0.0,1.0,1.0,Jackass 3D,21.0,21.0,"$117,052,883",Paramount Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2020,volvo s60/v60,volvo s60,16828,-0.166518,Negative,2007 volvo s60,2.0,2.0,0.0,4.0,4.0,Vanguard,99.0,99.0,"$793,525",Gravitas Ventures
288,2020,volvo s90/v90,NaN,3194,-0.211747,Negative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2020,volvo xc40,volvo xc40,23778,0.347424,Positive,2019 volvo xc40,1.0,1.0,0.0,1.0,1.0,Fatale,68.0,68.0,"$2,388,133",Lionsgate
290,2020,volvo xc60,volvo xc60,32078,0.049055,Positive,2014 volvo xc60,2.0,2.0,0.0,1.0,1.0,Bombshell,34.0,34.0,"$13,644,923",Lionsgate
291,2020,volvo xc90,volvo xc90,34251,-0.042198,Negative,2015 volvo xc90,3.0,3.0,1.0,1.0,2.0,Vanguard,99.0,99.0,"$793,525",Gravitas Ventures

In [7]:
# export for review
df_master.to_csv(f"output_data/cars_movies_master.csv", index=False, header=True)