In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# read in final dataset
data = pd.read_csv('output_data/cars_movies_master.csv')

In [3]:
# how many null values, in which columns?
data.isnull().sum()

Year                    0
Vehicle Original        0
Vehicle              1075
Sales                   0
% Change                0
Change                  0
Car                  1075
Stars                1075
Highest Star         1075
Strong Appearance    1075
Weak Appearance      1075
Total Appearance     1075
Release              1075
Rank                 1075
Best Rank            1075
Gross                1075
Distributor          1075
dtype: int64

In [4]:
# consider all NaN values in movie-related data to be value 0
data = data.fillna(0)
data

,Year,Vehicle Original,Vehicle,Sales,% Change,Change,Car,Stars,Highest Star,Strong Appearance,Weak Appearance,Total Appearance,Release,Rank,Best Rank,Gross,Distributor
0,2010,acura mdx,acura mdx,47210,0.514209,Positive,2007 acura mdx,1.0,1.0,0.0,2.0,2.0,The Other Guys,18.0,18.0,"$119,219,978",Sony Pictures Entertainment (SPE)
1,2010,acura rdx,0,14975,0.474934,Positive,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0
2,2010,acura rl,0,2037,-0.002937,Negative,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0
3,2010,acura tl,acura tl,34049,0.012760,Positive,1999 acura tl,1.0,1.0,0.0,3.0,3.0,The Other Guys,18.0,18.0,"$119,219,978",Sony Pictures Entertainment (SPE)
4,2010,acura tsx,acura tsx,32076,0.119581,Positive,2009 acura tsx,1.0,1.0,0.0,1.0,1.0,Jackass 3D,21.0,21.0,"$117,052,883",Paramount Pictures
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3051,2020,volvo s60/v60,volvo s60,16828,-0.166518,Negative,2007 volvo s60,2.0,2.0,0.0,4.0,4.0,Vanguard,99.0,99.0,"$793,525",Gravitas Ventures
3052,2020,volvo s90/v90,0,3194,-0.211747,Negative,0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0,0
3053,2020,volvo xc40,volvo xc40,23778,0.347424,Positive,2019 volvo xc40,1.0,1.0,0.0,1.0,1.0,Fatale,68.0,68.0,"$2,388,133",Lionsgate
3054,2020,volvo xc60,volvo xc60,32078,0.049055,Positive,2014 volvo xc60,2.0,2.0,0.0,1.0,1.0,Bombshell,34.0,34.0,"$13,644,923",Lionsgate
3055,2020,volvo xc90,volvo xc90,34251,-0.042198,Negative,2015 volvo xc90,3.0,3.0,1.0,1.0,2.0,Vanguard,99.0,99.0,"$793,525",Gravitas Ventures

In [5]:
# sample dataset for a specific vehicle
data_mustang = data.loc[data['Vehicle Original'] == 'ford mustang']
data_mustang

,Year,Vehicle Original,Vehicle,Sales,% Change,Change,Car,Stars,Highest Star,Strong Appearance,Weak Appearance,Total Appearance,Release,Rank,Best Rank,Gross,Distributor
74,2010,ford mustang,ford mustang,73716,0.106465,Positive,2009 ford mustang,3.0,3.0,1.0,14.0,15.0,Kick-Ass,70.0,70.0,"$48,071,303",Lionsgate
348,2011,ford mustang,ford mustang,70438,-0.044468,Negative,1991 ford mustang,4.0,4.0,3.0,15.0,18.0,30 Minutes or Less,91.0,91.0,"$37,053,924",Sony Pictures Entertainment (SPE)
611,2012,ford mustang,ford mustang,82995,0.178270,Positive,1991 ford mustang,3.0,3.0,4.0,23.0,27.0,21 Jump Street,18.0,18.0,"$138,447,667",Sony Pictures Entertainment (SPE)
881,2013,ford mustang,ford mustang,77186,-0.069992,Negative,1969 ford mustang,3.0,3.0,1.0,18.0,19.0,Fast & Furious 6,8.0,8.0,"$238,679,850",Universal Pictures
1150,2014,ford mustang,ford mustang,82635,0.070596,Positive,2014 ford mustang,5.0,5.0,2.0,15.0,17.0,Need for Speed,76.0,76.0,"$43,577,636",Walt Disney Studios Motion Pictures
1429,2015,ford mustang,ford mustang,122349,0.480595,Positive,1967 ford mustang,3.0,3.0,4.0,15.0,19.0,Creed,28.0,28.0,"$99,385,165",Warner Bros.
1711,2016,ford mustang,ford mustang,105932,-0.134182,Negative,2015 ford mustang,3.0,3.0,2.0,14.0,16.0,Daddy's Home,36.0,36.0,"$85,672,859",Paramount Pictures
2012,2017,ford mustang,ford mustang,81866,-0.227183,Negative,2015 ford mustang,4.0,4.0,4.0,17.0,21.0,Transformers: The Last Knight,24.0,24.0,"$130,168,683",Paramount Pictures
2300,2018,ford mustang,ford mustang,75842,-0.073584,Negative,1967 ford mustang,3.0,3.0,2.0,3.0,5.0,Creed II,28.0,28.0,"$112,448,520",Metro-Goldwyn-Mayer (MGM)
2579,2019,ford mustang,ford mustang,72489,-0.044210,Negative,2018 ford mustang,3.0,3.0,1.0,20.0,21.0,It Chapter Two,10.0,10.0,"$211,593,228",Warner Bros.
2862,2020,ford mustang,ford mustang,61090,-0.157251,Negative,2005 ford mustang,3.0,3.0,1.0,21.0,22.0,My Hero Academia: Heroes Rising,33.0,33.0,"$13,651,826",FUNimation Entertainment

In [6]:
# create dataframe for extracting correlation coefficient r
df_r = data_mustang[['Sales', '% Change', 'Highest Star', 'Strong Appearance', 'Weak Appearance', 'Total Appearance']]

# rename columns
df_r.columns = ['Sales', '% Change', 'Plot Relevance', 'High Plot', 'Low Plot', 'Total Appearance']
df_r

       Sales  % Change  Plot Relevance  High Plot  Low Plot  Total Appearance
74     73716  0.106465             3.0        1.0      14.0              15.0
348    70438 -0.044468             4.0        3.0      15.0              18.0
611    82995  0.178270             3.0        4.0      23.0              27.0
881    77186 -0.069992             3.0        1.0      18.0              19.0
1150   82635  0.070596             5.0        2.0      15.0              17.0
1429  122349  0.480595             3.0        4.0      15.0              19.0
1711  105932 -0.134182             3.0        2.0      14.0              16.0
2012   81866 -0.227183             4.0        4.0      17.0              21.0
2300   75842 -0.073584             3.0        2.0       3.0               5.0
2579   72489 -0.044210             3.0        1.0      20.0              21.0
2862   61090 -0.157251             3.0        1.0      21.0              22.0

In [7]:
# calculate correlation coefficient for sales or change and the four other features
sales_r_plot = st.pearsonr(df_r.Sales, df_r['Plot Relevance'])
sales_r_high = st.pearsonr(df_r.Sales, df_r['High Plot'])
sales_r_low = st.pearsonr(df_r.Sales, df_r['Low Plot'])
sales_r_total = st.pearsonr(df_r.Sales, df_r['Total Appearance'])
print(sales_r_plot[0])
print(sales_r_high[0])
print(sales_r_low[0])
print(sales_r_total[0])

-0.10356263728242607
0.5142356615013631
-0.13854918622446522
-0.01320633312278646

In [8]:
change_r_plot = st.pearsonr(df_r['% Change'], df_r['Plot Relevance'])
change_r_high = st.pearsonr(df_r['% Change'], df_r['High Plot'])
change_r_low = st.pearsonr(df_r['% Change'], df_r['Low Plot'])
change_r_total = st.pearsonr(df_r['% Change'], df_r['Total Appearance'])
print(change_r_plot[0])
print(change_r_high[0])
print(change_r_low[0])
print(change_r_total[0])

-0.12168258602145221
0.38389420244000483
0.041752129778634905
0.1292052188431993

In [9]:
# correlation table
df_corr = df_r.corr()
df_corr

,Sales,% Change,Plot Relevance,High Plot,Low Plot,Total Appearance
Sales,1.000000,0.603347,-0.103563,0.514236,-0.138549,-0.013206
% Change,0.603347,1.000000,-0.121683,0.383894,0.041752,0.129205
Plot Relevance,-0.103563,-0.121683,1.000000,0.222600,-0.046291,0.007390
High Plot,0.514236,0.383894,0.222600,1.000000,0.064061,0.293751
Low Plot,-0.138549,0.041752,-0.046291,0.064061,1.000000,0.972737
Total Appearance,-0.013206,0.129205,0.007390,0.293751,0.972737,1.000000

In [10]:
df_corr.iloc[0, 3]

0.5142356615013632

In [11]:
# for a given vehicle's correlation table, search and display any moderate strength correlation coefficient values (>5)
for x in range(2):
    for y in range(2, 6):
        if df_corr.iloc[x, y] > 0:
            if df_corr.iloc[x, y] >= 0.5:
                print(f'{df_corr.index[x]} and {df_corr.columns[y]}')
                print(df_corr.iloc[x, y])
        elif df_corr.iloc[x, y] < 0:
            if df_corr.iloc[x, y] <= (-0.5):
                print(f'{df_corr.index[x]} and {df_corr.columns[y]}')
                print(df_corr.iloc[x, y])

Sales and High Plot
0.5142356615013632

In [12]:
# create list of unique vehicles from the master dataset
vehicles = data['Vehicle Original'].unique().tolist()

In [13]:
# iterate through list of vehicles and return absolute value of r >= 0.5 or <= -0.5
# due to the large number of small sample sizes (n<4), exclude cars except for those with 8 or more years of data)
counter = 1
garage = [] # list of cars n>=8, with significant r value
no_garage = [] # list of cars n<8, cannot assess reliably

for vehicle in vehicles:
    data_car = data.loc[data['Vehicle Original'] == vehicle]
    if len(data_car) >= 8:
        df_r = data_car[['Sales', '% Change', 'Highest Star', 'Strong Appearance', 'Weak Appearance', 'Total Appearance']]
        df_r.columns = ['Sales', '% Change', 'Plot Relevance', 'High Plot', 'Low Plot', 'Total Appearance']
        df_corr = df_r.corr()
        for x in range(2):
            for y in range(2, 6):
                if df_corr.iloc[x, y] >= 0:
                    if df_corr.iloc[x, y] >= 0.5:
                        garage.append(vehicle)
                        print(f'{counter}. {vehicle}:')
                        print(f'{df_corr.index[x]} and {df_corr.columns[y]}: {df_corr.iloc[x, y]}')
                        print('-'*13)
                        counter += 1
                elif df_corr.iloc[x, y] < 0:
                    if df_corr.iloc[x, y] <= (-0.5):
                        garage.append(vehicle)
                        print(f'{counter}. {vehicle}:')
                        print(f'{df_corr.index[x]} and {df_corr.columns[y]}: {df_corr.iloc[x, y]}')
                        print('-'*13)
                        counter += 1
    else:
        no_garage.append(vehicle)

1. acura rdx:
Sales and Plot Relevance: 0.5366989330499468
-------------
2. audi a3:
Sales and Low Plot: 0.542422159210984
-------------
3. audi a3:
Sales and Total Appearance: 0.5156112294882785
-------------
4. audi a6:
Sales and Total Appearance: 0.5492933762401709
-------------
5. audi q5:
Sales and Plot Relevance: 0.7676581054323632
-------------
6. audi q5:
% Change and Plot Relevance: -0.58351709686353
-------------
7. audi q5:
% Change and Low Plot: -0.765569002745809
-------------
8. audi q5:
% Change and Total Appearance: -0.765569002745809
-------------
9. audi q7:
Sales and Plot Relevance: 0.7253971256754704
-------------
10. audi q7:
Sales and High Plot: 0.5236826666387051
-------------
11. audi r8:
% Change and Total Appearance: -0.523620771396298
-------------
12. audi tt:
Sales and Low Plot: 0.6863719284863751
-------------
13. audi tt:
Sales and Total Appearance: 0.6921688173408616
-------------
14. bmw 6-series:
Sales and Plot Relevance: 0.6205814953133176
-------------
15. bmw 6-series:
Sales and Low Plot: 0.7554570447500094
-------------
16. bmw 6-series:
Sales and Total Appearance: 0.8055236015303161
-------------
17. bmw 6-series:
% Change and Plot Relevance: 0.620954138842223
-------------
18. bmw 6-series:
% Change and High Plot: 0.7035097586530287
-------------
19. buick lacrosse:
Sales and High Plot: 0.5007089794565242
-------------
20. cadillac cts:
Sales and Low Plot: 0.634923543626062
-------------
21. cadillac cts:
Sales and Total Appearance: 0.601113977098701
-------------
22. cadillac cts:
% Change and Plot Relevance: 0.653081079656325
-------------
23. cadillac escalade:
Sales and Plot Relevance: 0.6057127873490618
-------------
24. cadillac escalade:
Sales and High Plot: 0.638905860535795
-------------
25. cadillac escalade:
% Change and High Plot: 0.535854393172111
-------------
26. chevrolet suburban:
Sales and Low Plot: 0.5341436666532445
-------------
27. chevrolet traverse:
Sales and High Plot: -0.5314446963542814
-------------
28. chevrolet traverse:
% Change and High Plot: -0.6234553616786007
-------------
29. chevrolet traverse:
% Change and Low Plot: 0.5635461725604892
-------------
30. chrysler 300:
Sales and Plot Relevance: -0.5003350726368834
-------------
31. chrysler 300:
% Change and Plot Relevance: -0.5425782579459281
-------------
32. dodge journey:
% Change and Low Plot: -0.5692772618092118
-------------
33. dodge journey:
% Change and Total Appearance: -0.5685518366148513
-------------
34. ford f-series:
Sales and Low Plot: 0.5239985453523055
-------------
35. ford f-series:
% Change and Plot Relevance: -0.5653769439921418
-------------
36. ford fusion:
Sales and Low Plot: -0.5278160968217247
-------------
37. ford fusion:
% Change and Low Plot: -0.5133819813833067
-------------
38. ford fusion:
% Change and Total Appearance: -0.5785513307507304
-------------
39. ford mustang:
Sales and High Plot: 0.5142356615013632
-------------
40. ford taurus:
Sales and Plot Relevance: 0.7851890268828235
-------------
41. ford taurus:
Sales and High Plot: 0.5815459377641404
-------------
42. ford taurus:
Sales and Low Plot: 0.7904892166000995
-------------
43. ford taurus:
Sales and Total Appearance: 0.8795432752268413
-------------
44. ford taurus:
% Change and Plot Relevance: 0.7279085265354275
-------------
45. ford taurus:
% Change and Low Plot: 0.7435330436572145
-------------
46. ford taurus:
% Change and Total Appearance: 0.7758234557176653
-------------
47. gmc terrain:
Sales and Low Plot: 0.6029521660282199
-------------
48. gmc terrain:
Sales and Total Appearance: 0.6029521660282199
-------------
49. gmc yukon:
% Change and Low Plot: 0.5261057621727045
-------------
50. gmc yukon xl:
Sales and Plot Relevance: 0.5573942571964846
-------------
51. honda civic:
% Change and Plot Relevance: 0.5468102358915148
-------------
52. honda insight:
% Change and Low Plot: 0.7455730860380768
-------------
53. honda insight:
% Change and Total Appearance: 0.7455730860380768
-------------
54. hyundai accent:
Sales and Plot Relevance: -0.6215752601044207
-------------
55. hyundai accent:
Sales and High Plot: -0.8177154073131397
-------------
56. hyundai accent:
% Change and High Plot: -0.507098660769907
-------------
57. hyundai azera:
% Change and Plot Relevance: 0.6578403957692373
-------------
58. hyundai elantra:
% Change and Plot Relevance: -0.5612126945788414
-------------
59. hyundai genesis:
% Change and Plot Relevance: 0.5483708640231707
-------------
60. hyundai genesis:
% Change and Total Appearance: 0.5058252239689951
-------------
61. jaguar xj:
% Change and Plot Relevance: -0.5808616101332316
-------------
62. jeep compass:
Sales and Plot Relevance: 0.615743611533165
-------------
63. jeep patriot:
Sales and Plot Relevance: -0.5533485478554975
-------------
64. jeep patriot:
Sales and Low Plot: -0.5700403449143293
-------------
65. jeep patriot:
Sales and Total Appearance: -0.5700403449143293
-------------
66. jeep patriot:
% Change and Plot Relevance: -0.7810228135781978
-------------
67. jeep patriot:
% Change and Low Plot: -0.7620389797852051
-------------
68. jeep patriot:
% Change and Total Appearance: -0.7620389797852051
-------------
69. kia optima:
Sales and Total Appearance: 0.5391463680632079
-------------
70. kia sedona:
Sales and Plot Relevance: 0.7851218836545559
-------------
71. kia sedona:
Sales and High Plot: 0.7035553726357978
-------------
72. kia soul:
% Change and Plot Relevance: -0.6353860906392705
-------------
73. kia soul:
% Change and Low Plot: -0.6264233312246502
-------------
74. kia soul:
% Change and Total Appearance: -0.6436276333911928
-------------
75. kia sportage:
Sales and Plot Relevance: 0.6197274303701842
-------------
76. lexus rx:
Sales and Total Appearance: 0.5001995967631092
-------------
77. lexus rx:
% Change and Plot Relevance: 0.6585514465523042
-------------
78. lexus rx:
% Change and High Plot: 0.5089928423473479
-------------
79. lincoln mkx/nautilus:
Sales and Plot Relevance: -0.5326549889166958
-------------
80. lincoln mkx/nautilus:
% Change and Plot Relevance: -0.6449449355722574
-------------
81. mazda 3:
% Change and Plot Relevance: -0.5479917722278267
-------------
82. mazda mx-5 miata:
% Change and Low Plot: 0.568257751165852
-------------
83. mazda mx-5 miata:
% Change and Total Appearance: 0.592198545872738
-------------
84. mercedes-benz cls-class:
Sales and Low Plot: 0.5514929210182816
-------------
85. mercedes-benz e-class:
Sales and Low Plot: 0.5218978076352915
-------------
86. mercedes-benz e-class:
Sales and Total Appearance: 0.5726506693473874
-------------
87. mercedes-benz g-class:
Sales and Plot Relevance: 0.6121464722149909
-------------
88. mercedes-benz g-class:
Sales and Low Plot: 0.6788104439477111
-------------
89. mercedes-benz g-class:
Sales and Total Appearance: 0.7684818024691896
-------------
90. mercedes-benz s-class:
Sales and High Plot: 0.5463740269766708
-------------
91. mini cooper:
Sales and High Plot: 0.5993908048041511
-------------
92. mini cooper:
Sales and Low Plot: 0.5458646555784484
-------------
93. mini cooper:
Sales and Total Appearance: 0.6815175443677446
-------------
94. mini cooper:
% Change and High Plot: 0.5403923941855271
-------------
95. nissan murano:
Sales and Low Plot: -0.5107561360169283
-------------
96. nissan murano:
% Change and Low Plot: -0.7371798251083043
-------------
97. nissan murano:
% Change and Total Appearance: -0.7402832216783164
-------------
98. nissan rogue:
Sales and Plot Relevance: 0.5500582485554878
-------------
99. nissan rogue:
Sales and Low Plot: 0.7874761473883751
-------------
100. nissan rogue:
Sales and Total Appearance: 0.8248848220863778
-------------
101. nissan sentra:
% Change and Low Plot: -0.5640434901380657
-------------
102. nissan sentra:
% Change and Total Appearance: -0.5640434901380657
-------------
103. nissan versa:
% Change and Plot Relevance: -0.6804956018153752
-------------
104. nissan versa:
% Change and High Plot: -0.5123752264860674
-------------
105. nissan xterra:
Sales and Plot Relevance: 0.626967496773577
-------------
106. nissan xterra:
Sales and Total Appearance: 0.5868078023630486
-------------
107. nissan xterra:
% Change and Plot Relevance: 0.6288114309008319
-------------
108. nissan xterra:
% Change and Total Appearance: 0.5167959751877313
-------------
109. porsche 911:
% Change and Plot Relevance: -0.6690650218332883
-------------
110. porsche boxster:
Sales and Low Plot: 0.5223815326056909
-------------
111. porsche boxster:
% Change and Plot Relevance: 0.5530006982783164
-------------
112. porsche boxster:
% Change and Low Plot: 0.57557513610726
-------------
113. porsche boxster:
% Change and Total Appearance: 0.6392147724687657
-------------
114. porsche cayenne:
Sales and Low Plot: 0.8260915611232781
-------------
115. porsche cayenne:
Sales and Total Appearance: 0.8490414713301799
-------------
116. subaru forester:
Sales and Total Appearance: 0.5213571579268432
-------------

117. subaru legacy:
Sales and Plot Relevance: 0.6805742066560974
-------------
118. subaru legacy:
Sales and High Plot: 0.642910229332041
-------------
119. toyota 4runner:
Sales and Plot Relevance: 0.5675983191332874
-------------
120. toyota 4runner:
Sales and High Plot: 0.5084324916552599
-------------
121. toyota avalon:
% Change and Plot Relevance: -0.6448904130728629
-------------
122. toyota rav4:
Sales and High Plot: -0.6397188091461029
-------------
123. toyota rav4:
% Change and Plot Relevance: -0.6848426576256478
-------------
124. toyota tacoma:
Sales and Plot Relevance: 0.671785115918832
-------------
125. toyota venza:
Sales and Low Plot: -0.5942680307126897
-------------
126. toyota venza:
Sales and Total Appearance: -0.5942680307126897
-------------
127. volkswagen golf/gti/r/sportwagen alltrack:
Sales and Plot Relevance: 0.5418555106025978
-------------
128. volkswagen golf/gti/r/sportwagen alltrack:
Sales and Low Plot: 0.565520353327834
-------------
129. volkswagen golf/gti/r/sportwagen alltrack:
Sales and Total Appearance: 0.6138127067865331
-------------
130. volkswagen golf/gti/r/sportwagen alltrack:
% Change and Plot Relevance: 0.6381652504201368
-------------
131. volkswagen jetta:
Sales and Plot Relevance: 0.6796546363083794
-------------
132. volkswagen jetta:
% Change and Plot Relevance: 0.5206091510618568
-------------
133. volkswagen touareg:
% Change and Plot Relevance: 0.6051863357502736
-------------
134. volkswagen touareg:
% Change and High Plot: 0.6835570581369987
-------------
135. volkswagen touareg:
% Change and Total Appearance: 0.6336315792942043
-------------
136. chevrolet cruze:
% Change and Plot Relevance: 0.7454456741474182
-------------
137. chevrolet cruze:
% Change and High Plot: 0.992316032034279
-------------
138. ford fiesta:
% Change and Plot Relevance: 0.6097856879994509
-------------
139. mercedes-benz b-class:
% Change and Low Plot: 0.9098737190685148
-------------
140. mercedes-benz b-class:
% Change and Total Appearance: 0.8086494460936039
-------------
141. mercedes-benz sprinter:
% Change and High Plot: -0.5861181520590767
-------------
142. mercedes-benz sprinter:
% Change and Low Plot: -0.5883990584622228
-------------
143. mercedes-benz sprinter:
% Change and Total Appearance: -0.6479289233166381
-------------
144. nissan juke:
Sales and Plot Relevance: -0.6721930561556436
-------------
145. nissan juke:
Sales and Low Plot: -0.508196544188114
-------------
146. nissan juke:
Sales and Total Appearance: -0.508196544188114
-------------
147. audi a7:
Sales and Plot Relevance: -0.5250296250382274
-------------
148. chevrolet sonic:
Sales and Plot Relevance: 0.5332937930099043
-------------
149. chevrolet sonic:
% Change and Low Plot: -0.5104982210545888
-------------
150. chevrolet sonic:
% Change and Total Appearance: -0.5893507851283996
-------------
151. hyundai veloster:
Sales and Plot Relevance: -0.6538896666789404
-------------
152. hyundai veloster:
Sales and Low Plot: -0.5562630473668596
-------------
153. hyundai veloster:
Sales and Total Appearance: -0.5743716294264753
-------------
154. land rover range rover evoque:
Sales and Plot Relevance: -0.5129581975576044
-------------
155. land rover range rover evoque:
Sales and Low Plot: -0.5129581975576044
-------------
156. land rover range rover evoque:
Sales and Total Appearance: -0.5129581975576044
-------------
157. cadillac ats:
Sales and Plot Relevance: -0.5161736357361062
-------------
158. cadillac xts:
% Change and Plot Relevance: -0.6521579382106507
-------------
159. cadillac xts:
% Change and Low Plot: -0.5544016296242703
-------------
160. cadillac xts:
% Change and Total Appearance: -0.5650943533671098
-------------
161. mazda cx-5:
Sales and Low Plot: -0.6257894188065357
-------------
162. mazda cx-5:
Sales and Total Appearance: -0.6257894188065357
-------------
163. mazda cx-5:
% Change and Low Plot: 0.6451250806684555
-------------
164. mazda cx-5:
% Change and Total Appearance: 0.6451250806684555
-------------
165. subaru brz:
Sales and Low Plot: 0.6796796614260228
-------------
166. subaru brz:
% Change and Low Plot: 0.9558821596047147
-------------
167. subaru brz:
% Change and Total Appearance: 0.7335521890076234
-------------
168. subaru xv crosstrek/crosstrek:
Sales and High Plot: 0.5628933531511047
-------------

In [14]:
# create unique list of cars for each list above
unique_garage = []
for car in garage:
    if car not in unique_garage:
        unique_garage.append(car)
        
unique_no_garage = []
for car in no_garage:
    if car not in unique_no_garage:
        unique_no_garage.append(car)

unique_trunk = []
for car in vehicles:
    if car not in unique_garage and car not in unique_no_garage:
        unique_trunk.append(car)

In [15]:
print(f'{len(unique_garage) + len(unique_trunk)} cars have sample size n>=8, out of {len(vehicles)} cars total.')
print(f'{len(unique_no_garage)} cars have a sample size too small to evaluate (n<8).')
print(f'{len(unique_garage)} cars have significant r value >0.5 or <-0.5, while {len(unique_trunk)} have no significant correlation')

206 cars have sample size n>=8, out of 446 cars total.
240 cars have a sample size too small to evaluate (n<8).
76 cars have significant r value >0.5 or <-0.5, while 130 have no significant correlation