In [1]:
import pandas as pd
import numpy as np

In [2]:
# create an array to sample
np.arange(1,20,1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19])

In [3]:
# create DataFrame with two lists that have near identical data
# these lists represent the same data, except that sometimes they both have
# the data present, sometimes one does and the other doesn't
# the goal is to combine the present data from either list into a new, complete list of data
eh = [ 1,  2,  3,  4,  5,  6,  0,  8,  9, 0, 11, 12, 13, 0, 15, 16, 17, 0, 19]
be = [ 1,  2,  0,  0,  5,  6,  7,  8,  9, 10, 11, 12, 0, 14, 15, 0, 17, 18, 19]

data = pd.DataFrame({"A": eh, "B": be})
data

     A   B
0    1   1
1    2   2
2    3   0
3    4   0
4    5   5
5    6   6
6    0   7
7    8   8
8    9   9
9    0  10
10  11  11
11  12  12
12  13   0
13   0  14
14  15  15
15  16   0
16  17  17
17   0  18
18  19  19

In [4]:
# create an empty column, iterate through DataFrame and define each new row of data
# according to conditional statements
data["C"] = ""

for index, row in data.iterrows():
    if row[0] == row[1]:
        data["C"][index] = data["A"][index]
    else:
        if row[0] == 0:
            data["C"][index] = data["B"][index]
        else:
            data["C"][index] = data["A"][index]

<ipython-input-4-d0d053d44a92>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["C"][index] = data["A"][index]
<ipython-input-4-d0d053d44a92>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["C"][index] = data["A"][index]
<ipython-input-4-d0d053d44a92>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["C"][index] = data["B"][index]

In [5]:
# verification
print(data.C.tolist())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]